.dockerignore
.env.example
.env*
.eslintignore
.eslintrc.js
.cfignore
.git
.github
.gitignore
.rubocop.yml
**/*.DS_Store
Brewfile
coverage
docker-compose.*
Dockerfile
Guardfile
log/*
node_modules
Procfile*
tmp/*
!tmp/pids/
!tmp/pids/.keep
vendor/*