<div class="grid__item" role="main">
	<div class="pg--wrapper">
			<h1 class="pg--title">Contact</h3>
			<div class="pg--content">
				<p>GENERAL QUESTIONS? <a href="mailto:help@mylibrarynyc.org">help@mylibrarynyc.org</a></p>
					<p>DELIVERY QUESTIONS? <a href="mailto:delivery@mylibrarynyc.org">delivery@mylibrarynyc.org</a></p>
					<p>Have specific questions about library cards, your account, or library staff visiting your school for professional development? Contact us: </br>
					<ul>
					<li>For schools in the Bronx, Manhattan, and Staten Island: <a href="mailto:mylibrarynyc@nypl.org">mylibrarynyc@nypl.org</a></li>
					<li>For schools in Brooklyn: <a href="mailto:mylibrarynyc@bklynlibrary.org">mylibrarynyc@bklynlibrary.org</a></li>
					<li>For schools in Queens: <a href="mailto:mylibrarynyc@queenslibrary.org">mylibrarynyc@queenslibrary.org</a></li>
					</ul>
					</p>

					<p>Have questions about MyLibraryNYC or how to join? </br>
					<ul>
					<li>To see if your school already participates see our current list of <a href="http://www.mylibrarynyc.org/about/participating-schools">participating schools</a>.</li>
					<li>To find if your school is eligible to participate in the program next year, please contact the <a href="http://nycdoe.libguides.com/home">DOE Office of Library Services</a> at 917-521-3734.</li>
					</ul>
					</p>

					<h2>LINKS</h2>
					<ul>
					<li><a href="http://www.bklynlibrary.org/parents-teachers/mylibrarynyc-resources">MyLibraryNYC at Brooklyn Public Library</a></li>
					<li><a href="http://www.nypl.org/events/mylibrarynyc">MyLibraryNYC at New York Public Library</a></li>
					<li><a href="https://www.queenslibrary.org/">MyLibraryNYC at Queens Public Library</a></li>
					<li><a href="http://nycdoe.libguides.com/MyLibraryNYC">MyLibraryNYC LibGuide from the NYC DOE Office of Library Services</a></li>
					</ul>
			</div>
	</div>
</div>