<p>
  Hi there!
</p>

<p>
  This is an automated email confirming that you have signed up at sets.mylibrarynyc.org. A member of MyLibraryNYC staff will be processing your registration and will get back to you if there are any issues.
</p>

<p>
  Thank You,<br />
  MyLibraryNYC<br />
  <%= link_to "#{root_url}", root_url %>
</p>
