/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
@-webkit-keyframes banner-zoom-start {
  0% {
    background-size: 900px 338px; }
  60% {
    background-size: 900px 338px; }
  100% {
    background-size: 800px 300px; } }

@-moz-keyframes banner-zoom-start {
  0% {
    background-size: 900px 338px; }
  60% {
    background-size: 900px 338px; }
  100% {
    background-size: 800px 300px; } }

@-ms-keyframes banner-zoom-start {
  0% {
    background-size: 900px 338px; }
  60% {
    background-size: 900px 338px; }
  100% {
    background-size: 800px 300px; } }

@keyframes banner-zoom-start {
  0% {
    background-size: 900px 338px; }
  60% {
    background-size: 900px 338px; }
  100% {
    background-size: 800px 300px; } }

@-webkit-keyframes fade-in {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@-ms-keyframes fade-in {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes fade-in {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@-webkit-keyframes fade-in-down {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes fade-in-down {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes fade-in-down {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in-down {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes fade-in-left {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@-moz-keyframes fade-in-left {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@-ms-keyframes fade-in-left {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fade-in-left {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fade-in-out-alert {
  0% {
    max-height: 0px;
    padding: 0; }
  10% {
    max-height: 200px;
    padding: 6px 0; }
  90% {
    max-height: 200px;
    padding: 6px 0; }
  100% {
    max-height: 0px;
    padding: 0; } }

@-moz-keyframes fade-in-out-alert {
  0% {
    max-height: 0px;
    padding: 0; }
  10% {
    max-height: 200px;
    padding: 6px 0; }
  90% {
    max-height: 200px;
    padding: 6px 0; }
  100% {
    max-height: 0px;
    padding: 0; } }

@-ms-keyframes fade-in-out-alert {
  0% {
    max-height: 0px;
    padding: 0; }
  10% {
    max-height: 200px;
    padding: 6px 0; }
  90% {
    max-height: 200px;
    padding: 6px 0; }
  100% {
    max-height: 0px;
    padding: 0; } }

@keyframes fade-in-out-alert {
  0% {
    max-height: 0px;
    padding: 0; }
  10% {
    max-height: 200px;
    padding: 6px 0; }
  90% {
    max-height: 200px;
    padding: 6px 0; }
  100% {
    max-height: 0px;
    padding: 0; } }

@-webkit-keyframes from-bottom {
  0% {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    transform: translateY(300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes from-bottom {
  0% {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    transform: translateY(300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes from-bottom {
  0% {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    transform: translateY(300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes from-bottom {
  0% {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    transform: translateY(300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes from-left-pause {
  0% {
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    transform: translateX(-600px); }
  30%, 70% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    transform: translateX(600px); } }

@-moz-keyframes from-left-pause {
  0% {
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    transform: translateX(-600px); }
  30%, 70% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    transform: translateX(600px); } }

@-ms-keyframes from-left-pause {
  0% {
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    transform: translateX(-600px); }
  30%, 70% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    transform: translateX(600px); } }

@keyframes from-left-pause {
  0% {
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    transform: translateX(-600px); }
  30%, 70% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    transform: translateX(600px); } }

@-webkit-keyframes from-top {
  0% {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes from-top {
  0% {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes from-top {
  0% {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes from-top {
  0% {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes img-zoom-start {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  60% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-moz-keyframes img-zoom-start {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  60% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-ms-keyframes img-zoom-start {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  60% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes img-zoom-start {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  60% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
    background-color: #E8E4E2; }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #D0CDC8; } }

@-moz-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
    background-color: #E8E4E2; }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #D0CDC8; } }

@-ms-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
    background-color: #E8E4E2; }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #D0CDC8; } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
    background-color: #E8E4E2; }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #D0CDC8; } }

#home-gallery {
  width: 100%;
  height: 300px; }
  @media (max-width: 800px) {
    #home-gallery {
      width: auto;
      margin-left: -20px;
      margin-right: -20px; } }
.home-index #home-gallery {
  margin-top: -20px; }

.slide {
  background: #514E49;
  color: #fff;
  overflow: hidden; }

.slide-caption {
  text-align: center;
  margin: 12px 40px 0; }
  .slide-caption .step {
    background: #fff;
    color: #514E49;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  @media (max-width: 500px) {
    .slide-caption {
      font-size: 0.8em; } }
.dots {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 10px; }
  @media (max-width: 500px) {
    .dots {
      display: none; } }
.dot-item {
  background: #fff;
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 5px;
  outline: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  .dot-item.active {
    background: #df585e; }
  .dot-item:hover {
    background: #E8E4E2; }

.slide-assets {
  position: relative;
  width: 300px;
  height: 230px;
  margin: 0 auto; }
  .slide-assets > img,
  .slide-assets > div {
    position: absolute; }

#step1 .teacher {
  left: 0;
  bottom: 0; }

#step1 .students1 {
  left: 84px;
  bottom: 0; }

#step1 .students2 {
  left: 182px;
  bottom: 0; }

#step1 .email-input {
  left: 84px;
  top: 60px;
  border: 5px solid #fff;
  width: 200px;
  height: 50px;
  line-height: 40px;
  font-size: 1.1em;
  text-align: center; }
  #step1 .email-input i {
    color: #514E49;
    font-style: normal; }

#step1.active .teacher {
  -webkit-animation: from-bottom 0.8s;
  -moz-animation: from-bottom 0.8s;
  -o-animation: from-bottom 0.8s;
  animation: from-bottom 0.8s; }

#step1.active .students1 {
  -webkit-animation: from-bottom 1s;
  -moz-animation: from-bottom 1s;
  -o-animation: from-bottom 1s;
  animation: from-bottom 1s; }

#step1.active .students2 {
  -webkit-animation: from-bottom 1.2s;
  -moz-animation: from-bottom 1.2s;
  -o-animation: from-bottom 1.2s;
  animation: from-bottom 1.2s; }

#step1.active .email-input i {
  color: #fff;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  -webkit-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s; }

#step1.active .email-input i:first-child {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s; }

#step1.active .email-input i:nth-child(2) {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s; }

#step1.active .email-input i:nth-child(3) {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s; }

#step1.active .email-input i:nth-child(4) {
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s; }

#step1.active .email-input i:nth-child(5) {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  transition-delay: 0.8s; }

#step1.active .email-input i:nth-child(6) {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s; }

#step1.active .email-input i:nth-child(7) {
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  -ms-transition-delay: 1.2s;
  transition-delay: 1.2s; }

#step1.active .email-input i:nth-child(8) {
  -moz-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  -webkit-transition-delay: 1.4s;
  -ms-transition-delay: 1.4s;
  transition-delay: 1.4s; }

#step1.active .email-input i:nth-child(9) {
  -moz-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  -webkit-transition-delay: 1.6s;
  -ms-transition-delay: 1.6s;
  transition-delay: 1.6s; }

#step2 .teacher {
  left: 0;
  bottom: 0; }

#step2 .students1 {
  left: 84px;
  bottom: 0; }

#step2 .students2 {
  left: 182px;
  bottom: 0; }

#step2 .books {
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2; }

#step2 .books1 {
  left: 0;
  bottom: 0; }

#step2 .books2 {
  left: 0;
  bottom: 90px; }

#step2 .books3 {
  left: 100px;
  bottom: 0; }

#step2 .books4 {
  left: 100px;
  bottom: 90px; }

#step2 .books5 {
  left: 200px;
  bottom: 0; }

#step2 .books6 {
  left: 200px;
  bottom: 90px; }

#step2.active .books1 {
  -webkit-animation: from-top 0.6s;
  -moz-animation: from-top 0.6s;
  -o-animation: from-top 0.6s;
  animation: from-top 0.6s; }

#step2.active .books2 {
  -webkit-animation: from-top 0.8s;
  -moz-animation: from-top 0.8s;
  -o-animation: from-top 0.8s;
  animation: from-top 0.8s; }

#step2.active .books3 {
  -webkit-animation: from-top 1s;
  -moz-animation: from-top 1s;
  -o-animation: from-top 1s;
  animation: from-top 1s; }

#step2.active .books4 {
  -webkit-animation: from-top 1.2s;
  -moz-animation: from-top 1.2s;
  -o-animation: from-top 1.2s;
  animation: from-top 1.2s; }

#step2.active .books5 {
  -webkit-animation: from-top 1.3s;
  -moz-animation: from-top 1.3s;
  -o-animation: from-top 1.3s;
  animation: from-top 1.3s; }

#step2.active .books6 {
  -webkit-animation: from-top 1.4s;
  -moz-animation: from-top 1.4s;
  -o-animation: from-top 1.4s;
  animation: from-top 1.4s; }

#step3 .school {
  left: 0;
  top: 0;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2; }

#step3 .truck {
  right: 0;
  bottom: 20px; }

#step3.active .truck {
  -webkit-animation: from-left-pause 6s infinite;
  -moz-animation: from-left-pause 6s infinite;
  -o-animation: from-left-pause 6s infinite;
  animation: from-left-pause 6s infinite; }

.homepage-banner {
  width: 100%;
  height: 300px;
  background: url(homepage-banner.jpg) center no-repeat;
  background-size: 800px 300px;
  position: relative; }
  .homepage-banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.7); }
  .homepage-banner img,
  .homepage-banner .button-overlay {
    position: absolute;
    width: 400px;
    height: 134px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -67px;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .homepage-banner .button-overlay {
    height: 46px;
    margin-top: -23px; }
    .homepage-banner .button-overlay .button {
      background: #c4262d;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-transition: background 0.5s ease-in-out;
      -o-transition: background 0.5s ease-in-out;
      -webkit-transition: background 0.5s ease-in-out;
      -ms-transition: background 0.5s ease-in-out;
      transition: background 0.5s ease-in-out; }
      .homepage-banner .button-overlay .button:hover {
        background: #d62e35; }
  @media (max-width: 500px) {
    .homepage-banner img,
    .homepage-banner .button-overlay {
      width: 300px;
      height: 100px;
      height: auto;
      margin-left: -150px;
      margin-top: -50px; }
    .homepage-banner .button-overlay {
      height: 46px;
      margin-top: -23px; } }
.active .homepage-banner {
  -webkit-animation: banner-zoom-start 2s;
  -moz-animation: banner-zoom-start 2s;
  -o-animation: banner-zoom-start 2s;
  animation: banner-zoom-start 2s; }
  .active .homepage-banner img,
  .active .homepage-banner .button-overlay {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); }

.call-to-action {
  background: #AF2228;
  padding: 20px 40px;
  margin-bottom: 20px; }
  @media (max-width: 800px) {
    .call-to-action {
      width: auto;
      margin-left: -20px;
      margin-right: -20px; } }
  .call-to-action .button {
    background: rgba(0, 0, 0, 0.25); }
    .call-to-action .button:hover {
      background: rgba(0, 0, 0, 0.2); }
  @media (max-width: 500px) {
    .call-to-action {
      font-size: 0.8em; } }
.learn-more-btn {
  margin-top: 30px; }

footer a img {
  max-height: 80px;
  max-width: 180px; }

.participating_schools {
  font-size: xx-large;
  font-weight: bold; }

.school_header {
  font-size: large;
  font-weight: bold; }

.school_inbox {
  box-sizing: border-box;
  height: 2em;
  padding: .5em;
  width: 19em; }

.page-content {
  margin: 2rem;
  padding: 1rem; }

#schools_not_found {
  margin: 1em 0; }

#participating_schools_id p {
  margin-bottom: -20px; }

#participating_schools_id_1 {
  margin: 1em 0; }

#schools_not_found {
  margin: 1em 0; }
