/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
@-webkit-keyframes banner-zoom-start {
  0% {
    background-size: 900px 338px; }
  60% {
    background-size: 900px 338px; }
  100% {
    background-size: 800px 300px; } }

@-moz-keyframes banner-zoom-start {
  0% {
    background-size: 900px 338px; }
  60% {
    background-size: 900px 338px; }
  100% {
    background-size: 800px 300px; } }

@-ms-keyframes banner-zoom-start {
  0% {
    background-size: 900px 338px; }
  60% {
    background-size: 900px 338px; }
  100% {
    background-size: 800px 300px; } }

@keyframes banner-zoom-start {
  0% {
    background-size: 900px 338px; }
  60% {
    background-size: 900px 338px; }
  100% {
    background-size: 800px 300px; } }

@-webkit-keyframes fade-in {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@-ms-keyframes fade-in {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@keyframes fade-in {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@-webkit-keyframes fade-in-down {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes fade-in-down {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes fade-in-down {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in-down {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes fade-in-left {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@-moz-keyframes fade-in-left {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@-ms-keyframes fade-in-left {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fade-in-left {
  0% {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fade-in-out-alert {
  0% {
    max-height: 0px;
    padding: 0; }
  10% {
    max-height: 200px;
    padding: 6px 0; }
  90% {
    max-height: 200px;
    padding: 6px 0; }
  100% {
    max-height: 0px;
    padding: 0; } }

@-moz-keyframes fade-in-out-alert {
  0% {
    max-height: 0px;
    padding: 0; }
  10% {
    max-height: 200px;
    padding: 6px 0; }
  90% {
    max-height: 200px;
    padding: 6px 0; }
  100% {
    max-height: 0px;
    padding: 0; } }

@-ms-keyframes fade-in-out-alert {
  0% {
    max-height: 0px;
    padding: 0; }
  10% {
    max-height: 200px;
    padding: 6px 0; }
  90% {
    max-height: 200px;
    padding: 6px 0; }
  100% {
    max-height: 0px;
    padding: 0; } }

@keyframes fade-in-out-alert {
  0% {
    max-height: 0px;
    padding: 0; }
  10% {
    max-height: 200px;
    padding: 6px 0; }
  90% {
    max-height: 200px;
    padding: 6px 0; }
  100% {
    max-height: 0px;
    padding: 0; } }

@-webkit-keyframes from-bottom {
  0% {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    transform: translateY(300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes from-bottom {
  0% {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    transform: translateY(300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes from-bottom {
  0% {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    transform: translateY(300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes from-bottom {
  0% {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    transform: translateY(300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes from-left-pause {
  0% {
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    transform: translateX(-600px); }
  30%, 70% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    transform: translateX(600px); } }

@-moz-keyframes from-left-pause {
  0% {
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    transform: translateX(-600px); }
  30%, 70% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    transform: translateX(600px); } }

@-ms-keyframes from-left-pause {
  0% {
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    transform: translateX(-600px); }
  30%, 70% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    transform: translateX(600px); } }

@keyframes from-left-pause {
  0% {
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    transform: translateX(-600px); }
  30%, 70% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    transform: translateX(600px); } }

@-webkit-keyframes from-top {
  0% {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes from-top {
  0% {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes from-top {
  0% {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes from-top {
  0% {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes img-zoom-start {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  60% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-moz-keyframes img-zoom-start {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  60% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-ms-keyframes img-zoom-start {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  60% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes img-zoom-start {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  60% {
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
    background-color: #E8E4E2; }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #D0CDC8; } }

@-moz-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
    background-color: #E8E4E2; }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #D0CDC8; } }

@-ms-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
    background-color: #E8E4E2; }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #D0CDC8; } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
    background-color: #E8E4E2; }
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #D0CDC8; } }

/* Globals */
body {
  padding: 50px 0 0 0;
  color: #3F3A34;
  font-size: 1em;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 0.5em 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: #AF2228; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #c4262d; }

p {
  line-height: 1.8; }

a {
  color: #0171A1;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #0195d4; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

hr {
  border: none;
  border-bottom: 1px dashed #D0CDC8;
  margin: 20px 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

pre {
  font-family: sans-serif; }

.table {
  width: 100%; }
  .table th, .table td {
    padding: 12px; }
  .table th {
    text-align: left;
    background: #E8E4E2; }
  .table tr:first-child td {
    border-top: none; }

.nowrap {
  white-space: nowrap; }
  @media (max-width: 500px) {
    .nowrap {
      white-space: normal; } }
#home-reservations .status {
  text-transform: uppercase; }

@media (max-width: 800px) {
  #home-reservations thead {
    display: none; }
  #home-reservations td {
    float: left;
    clear: left;
    padding: 0;
    margin: 0; }
  #home-reservations .date {
    font-size: 0.8em; }
  #home-reservations .title {
    font-size: 1.2em; }
  #home-reservations .status {
    margin-bottom: 1em;
    padding: 1px 5px 0;
    background: #908B85;
    color: #fff;
    font-size: 0.8em;
    margin-top: 5px; } }

/* Components */
.button {
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 12px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #AF2228;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase; }
  .button:hover {
    background: #c4262d;
    color: #fff; }

.order_button {
  width: auto;
  margin: 0 auto;
  padding: 3px 45px 3px 45px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #AF2228;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #000000; }
  .order_button:hover {
    background: #c4262d;
    color: #fff; }

.button.secondary {
  background: #0171A1; }
  .button.secondary:hover {
    background: #0183ba; }

.order_button.secondary {
  background: #0171A1; }
  .order_button.secondary:hover {
    background: #0183ba; }

.button.queue {
  background: #D75B25; }
  .button.queue:hover {
    background: #dd6a39; }

.button.small {
  padding: 3px 6px;
  font-size: 1.2em;
  line-height: 1.8; }

.button.xsmall {
  padding: 3px 6px;
  font-size: 1em;
  line-height: 1.4; }

.button.disabled {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

.hl {
  color: #AF2228; }

.alert {
  background: #fff7a5;
  margin: 10px 0 20px;
  text-align: center;
  padding: 10px;
  line-height: 20px;
  margin-bottom: 0;
  *zoom: 1; }
  .alert:before, .alert:after {
    content: " ";
    display: table; }
  .alert:after {
    clear: both; }
  .alert.alert-fixed {
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%; }
  .alert.main-alert {
    margin-top: 0px; }

#error_explanation {
  background: #fff7a5;
  padding: 6px;
  margin-bottom: 20px; }
  #error_explanation h2 {
    font-size: 1em; }

.help-block.on {
  margin: 6px 0;
  background: #fff7a5;
  padding: 6px;
  border: 1px solid #D0CDC8; }

.collapsible {
  max-height: 0;
  overflow: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .collapsible.on {
    max-height: none; }

/* Forms */
form,
.form {
  max-width: 600px; }

.field-group {
  margin-bottom: 20px; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea {
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  margin: 6px 0;
  padding: 6px 0;
  font-size: 1em;
  color: #71695D;
  border: 1px solid #D0CDC8;
  outline: none;
  background: #E8E4E2;
  text-indent: 6px;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out; }
  input[type="text"]:active, input[type="text"]:focus,
  input[type="email"]:active,
  input[type="email"]:focus,
  input[type="password"]:active,
  input[type="password"]:focus,
  textarea:active,
  textarea:focus,
  select:active,
  select:focus {
    border: 1px solid #908B85;
    background: #fff; }

label {
  display: block; }
  label a i {
    font-size: 1.2em; }

select {
  width: 100%;
  min-width: 100px; }

@media (max-width: 800px) {
  .date-group select {
    max-width: 280px; } }

input.picker.hide {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none; }

#ui-datepicker-div {
  background: #fff;
  padding: 10px; }

.ui-datepicker-trigger {
  padding: 0;
  border: none;
  background: transparent; }

input.fakespan {
  background-color: transparent;
  border: 1px solid transparent;
  display: inline-block;
  width: auto; }

/* Grid */
.container {
  max-width: 800px;
  margin: 0 auto; }
  @media (max-width: 800px) {
    .container {
      width: auto;
      margin: 0 20px; } }
.row {
  *zoom: 1;
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.column {
  float: left;
  padding: 0 10px; }

@media (max-width: 800px) {
  .row {
    margin: 0; }
  .column {
    float: none;
    padding: 0; } }

/* Navigation */
.navigation {
  width: 100%;
  height: 50px;
  overflow: hidden;
  line-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: #c4262d;
  z-index: 100; }
  .navigation .container {
    white-space: nowrap;
    *zoom: 1; }
    .navigation .container:before, .navigation .container:after {
      content: " ";
      display: table; }
    .navigation .container:after {
      clear: both; }
    @media (max-width: 800px) {
      .navigation .container {
        margin: 0; } }
  .navigation ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .navigation li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px 5px 5px 7px;
    text-decoration: none;
    background-color: transparent; }
    @media all and (max-width: 625px) {
      .navigation li a {
        margin: 0px -11px; } }
    @media all and (max-width: 590px) {
      .navigation li a {
        margin: 0px -9px; } }
    @media not all and (min-width: 440px) {
      .navigation li a {
        margin: 0px -3px; } }
    @media not all and (min-width: 365px) {
      .navigation li a {
        margin: 0px -4px; } }
    @media not all and (min-width: 345px) {
      .navigation li a {
        margin: 0px -6px; } }
    @media not all and (min-width: 335px) {
      .navigation li a {
        margin: 0px -8px; } }
    @media not all and (min-width: 325px) {
      .navigation li a {
        margin: 0px -8px; } }
    @media not all and (min-width: 311px) {
      .navigation li a {
        margin: 0px -10px; } }
    @media not all and (min-width: 290px) {
      .navigation li a {
        margin: 0px -12px; } }
    @media not all and (min-width: 285px) {
      .navigation li a {
        margin: 0px -8px; } }
    @media not all and (min-width: 277px) {
      .navigation li a {
        margin: 0px -12px; } }
  .navigation .nav-hover-color :hover {
    background: #c4262d; }
  .navigation li a:hover {
    text-decoration: underline;
    cursor: pointer; }
  .navigation a {
    color: #fff;
    display: block;
    float: right;
    height: 40px;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    margin: 5px 5px 5px 0;
    font-size: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .navigation a:hover {
      background: #AF2228; }
    .navigation a i {
      display: block;
      line-height: 20px; }
    .navigation a.link-home {
      float: left;
      margin-left: 5px;
      width: 130px;
      background: url(/assets/mylibrarynyc-logo-white-mini.png) center no-repeat;
      background-size: contain;
      background-color: transparent; }
      @media all and (max-width: 500px) {
        .navigation a.link-home {
          width: 95px;
          font-size: 0.6em; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        .navigation a.link-home {
          width: 75px;
          font-size: 0.6em; } }
      @media all and (max-width: 593px) {
        .navigation a.link-home {
          width: 75px;
          font-size: 0.6em; } }
      .navigation a.link-home span {
        display: none; }
    .navigation a.link-learn-more {
      width: 75px; }
    .navigation a.active {
      color: #AF2228;
      background: #fff; }

#breadcrumb {
  margin-bottom: 6px; }
  #breadcrumb i {
    margin: 0 6px; }

/* Main */
#main {
  padding-top: 20px; }
  #main h1:first-child, #main h2:first-child, #main h3:first-child {
    margin-top: 0; }

.animate-in-container {
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  -o-animation: fade-in 0.5s;
  animation: fade-in 0.5s; }

/* Footer */
footer {
  background: #F9F9F9;
  border-top: 1px dashed #D0CDC8;
  margin: 20px 0 0;
  padding: 20px 0;
  text-align: center; }
  footer a {
    display: inline-block;
    margin: 0 6px; }

.order_button.queue {
  background: #D75B25; }

.order_button.disabled {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

.order_button.queue {
  background: #D75B25; }
  .order_button.queue:hover {
    background: #dd6a39; }

.lowercase {
  text-transform: lowercase; }

.float-right {
  float: right; }
