files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/08_run-app.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      echo "DATABASE_URL="$DATABASE_URL"*"  # print what eb thinks the db url is, for deploy debgging
    encoding: plain
