files:
    "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.mylibnyc.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/app/current/log/*.log {
                missingok
                notifempty
                rotate 14
                size 10M
                compress
                copytruncate
                dateext
                dateformat %s
            }