files:
    "/etc/logrotate.d/logrotate.elasticbeanstalk.mylibnyc.conf":
        mode: "000655"
        owner: root
        group: root
        content: |
            /var/app/current/log/*.log {
                rotate 14
                size 10M
                daily
                compress
                delaycompress
            }