files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_react-rails.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      set -xe

      [ ! -f /usr/bin/npm ] && echo "npm not installed"
      curl --silent --location http://npmjs.org/install.sh |  sudo bash -
      
      [ ! -f /usr/bin/node ] && echo "node not installed"
      curl --silent --location https://rpm.nodesource.com/setup_14.x | sudo bash -
      yum -y install nodejs

      echo "Installing Yarn"
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
      yum -y install yarn;

      yarn