files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_react-rails.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      set -xe
      echo "Installing Node.js"

      00_remove_node_6_if_present:
        command: "/bin/rm -rf /var/cache/yum && /usr/bin/yum remove -y nodejs && /bin/rm /etc/yum.repos.d/nodesource* && /usr/bin/yum clean all && rm -rf /var/cache/yum"
        ignoreErrors: true
      01_download_nodejs:
        command: "curl --silent --location https://rpm.nodesource.com/setup_12.x | sudo bash -"
      02_install_nodejs:
        command: "yum -y install nodejs"

      echo "Installing Yarn"
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
      yum -y install yarn;

      yarn