@import "mixins-helpers";
/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

$base-font-family:		sans-serif;

$measure:				50rem;



/*------------------------------------*\
    $COLORS
\*------------------------------------*/
// Primary palette colors
// -------------------------
$red:					darken(#d62828, 5%);

// Secondary palette colors
// -------------------------
$blue:					darken(#0090c4, 5%);
$pink:					lighten($red, 40%);
$orange:				darken(#f0731f, 5%);
$green:					darken(#acb737, 10%);
$purple:				#aa137e;

// Warm grays
// -------------------------
$warmGrayDarkest:		#5e564b;
$warmGrayDarker:		#7d7872;
$warmGray:				#a29d97;
$warmGrayLighter:		#c5c2bb;
$warmGrayLightest:		#e2dedb;


$white:					#ffffff;
$softWhite:				#FCFAF7;
$black:					#333333;

/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * How big would you like round corners to be by default?
 */
$brand-round:        5px!default;
