
<!-- html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New York City Public Libraries</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/assets/application-06dd04e804e66891f99f86e09752531c.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1420324-53']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
    <meta content="authenticity_token" name="csrf-param" />
<meta content="moYGPix/MWvGyNmgcFZEqyDcbj4f3IpJ7Tg6YrV9cXM=" name="csrf-token" />

  </head>
  <body
    <div class='page- -wrapper'>
      < !- - Header - ->
<header>
  <nav class="nav- -global cf" role="navigation">
    <div class="wrapper- -nav- -global">
      <!- - Logo - ->
      <div class="site-logo" role="banner">
        <a href="/"><img alt="Mylibrarynyc-logo-white-mini" border="0" src="/assets/mylibrarynyc-logo-white-mini-83db8b76ad8ecb0f435e66b5c8b92337.png" /></a>
      </div>
      <!- - Navigation - ->
      <ul class="nav nav--global__list">
  <li>
    <a href="https://www.mylibrarynyc.org/about/participating-schools">Participating Schools</a>
  </li>
  <li>
    <a href="/about/about-mylibrarynyc">About</a>
  </li>
  <li>
    <a href="http://sets.mylibrarynyc.org/help">Help</a>
  </li>
  <li>
    <a href="/contacts-links">Contact</a>
  </li>
</ul>
    </div>
  </nav>
</header -->

<script type="text/javascript">
var linkElement = document.createElement("link");
linkElement.rel = "stylesheet";
linkElement.href = "/assets/static_site_copies/application.css";

document.head.appendChild(linkElement);
</script>


      <!-- Main Content -->
      <section class="grid--center wrapper--content" role="main">
        <div class="grid__item" role="main">
	<div class="pg--wrapper">
			<h1 class="pg--title">Participating Schools</h3>
			<div class="pg--content"><h4>Does your school participate in MyLibraryNYC? Check this list to find out.</h4>
<div align="center">
  <a href="app#/about/participating-schools##">#</a> <a href="app#/about/participating-schools#A">A</a>
  <a href="app#/about/participating-schools#B">B</a> <a href="app#/about/participating-schools#C">C</a>
  <a href="app#/about/participating-schools#D">D</a> <a href="app#/about/participating-schools#E">E</a>
  <a href="app#/about/participating-schools#F">F</a> <a href="app#/about/participating-schools#G">G</a>
  <a href="app#/about/participating-schools#H">H</a> <a href="app#/about/participating-schools#I">I</a>
  <a href="app#/about/participating-schools#J">J</a> <a href="app#/about/participating-schools#K">K</a>
  <a href="app#/about/participating-schools#L">L</a> <a href="app#/about/participating-schools#M">M</a>
  <a href="app#/about/participating-schools#N">N</a> <a href="app#/about/participating-schools#O">O</a>
  <a href="app#/about/participating-schools#P">P</a> <a href="app#/about/participating-schools#Q">Q</a>
  <a href="app#/about/participating-schools#R">R</a> <a href="app#/about/participating-schools#S">S</a>
  <a href="app#/about/participating-schools#T">T</a> <a href="app#/about/participating-schools#U">U</a>
  <a href="app#/about/participating-schools#V">V</a> <a href="app#/about/participating-schools#W">W</a>
  <a href="app#/about/participating-schools#X">X</a> <a href="app#/about/participating-schools#Y">Y</a>
  <a href="app#/about/participating-schools#Z">Z</a> <br><br></div>
<ul>
<br><a name="#"></a>#<br><br>
47 The American Sign Language and English Secondary School (m047)<br>

<br><a name="A"></a>A<br><br>
A. Philip Randolph Campus High School (m540)<br>
Academy for Careers in Television and Film (q301)<br>
Academy for Personal Leadership and Excellence (x363)<br>
Academy for Scholarship and Entrepreneurship: A College Board School (x270)<br>
Academy of American Studies (q575)<br>
Academy of Mount St. Ursula X (b002)<br>
Academy of Public Relations (x298)<br>
Academy of the City Charter School (q359)<br>
Andries Hudde (k240)<br>
Antonia Pantoja Preparatory Academy: A College Board School (x376)<br>
Art and Design High School (m630)<br>
Astor Collegiate Academy (x299)<br>
Aviation Career & Technical Education High School (q610)<br>

<br><a name="B"></a>B<br><br>
Bais Yaakov Academy K (l027)<br>
Bard High School Early College (m696)<br>
Battery Park City School  (m276)<br>
Bayside High School (q495)<br>
Belmont Preparatory High School (x434)<br>
Benjamin Franklin High School for Finance & Information Technology (q313)<br>
Bilingual/Bicultural School, The (m182)<br>
Bronx Academy of Health Careers (x290)<br>
Bronx Aerospace High School (x545)<br>
Bronx Bridges High School  (x432)<br>
Bronx Community High School (x377)<br>
Bronx Compass High School (x561)<br>
Bronx Engineering and Technology Academy (x213)<br>
Bronx Guild (x452)<br>
Bronx Health Sciences High School (x249)<br>
Bronx High School for Law and Community Service (x439)<br>
Bronx High School for Writing and Communication Arts (x253)<br>
Bronx High School of Science (x445)<br>
Bronx Lab School (x265)<br>
Bronx Leadership Academy II High School (x527)<br>
Bronx Preparatory Charter School (x703)<br>
Bronx River High School (x349)<br>
Bronx School for Law, Government and Justice (x505)<br>
Bronx School of Law and Finance (x284)<br>
Bronx Theatre High School (x546)<br>
Bronxdale High School (x508)<br>
Bronxwood Preparatory Academy, The (x514)<br>
Brooklyn International High School (k439)<br>
Brooklyn Secondary School for Collaborative Studies (k448)<br>
Brooklyn Studio Secondary School (k690)<br>
Brooklyn Technical High School (k430)<br>
Business of Sports School (m393)<br>

<br><a name="C"></a>C<br><br>
Cardinal Spellman High School X (b012)<br>
Central Park East II (m964)<br>
Christa Mcauliffe School\I.S. 187 (k187)<br>
City Polytechnic High School of Engineering, Archi (k674)<br>
Collegiate Institute for Math and Science (x288)<br>
Community Health Academy of the Heights (m346)<br>
Community School for Social Justice (x427)<br>
Creston Academy (x447)<br>
Cultural Academy for the Arts and Sciences (k629)<br>
Curtis High School (r450)<br>

<br><a name="D"></a>D<br><br>
Digital Arts and Cinema Technology High School (k429)<br>

<br><a name="E"></a>E<br><br>
East Fordham Academy for the Arts (x459)<br>
East Side Community School (m450)<br>
Edward A. Reynolds West Side High School (m505)<br>
Edward R. Murrow High School (k525)<br>
Eleanor Roosevelt High School (m416)<br>
Elementary School for Math, Science, and Technology (x382)<br>
English Language Learners and International Support Preparatory Academy (ELLIS) (x397)<br>
Essex Street Academy (m294)<br>
Expeditionary Learning School for Community Leaders (k572)<br>

<br><a name="F"></a>F<br><br>
Fairmont Neighborhood School (x314)<br>
FDNY High School for Fire and Life Safety (k502)<br>
Fiorello H. LaGuardia High School of Music & Art and Performing Arts (m485)<br>
Flushing High School (q460)<br>
Fordham High School for the Arts (x437)<br>
Fordham Leadership Academy for Business and Technology (x438)<br>
Forest Hills High School (q440)<br>
Forsyth Satellite Academy (m458)<br>
Fort Hill Collaborative Elementary School (r010)<br>
Francis Lewis High School (q430)<br>
Frank Sinatra School of the Arts High School (q501)<br>
Franklin Delano Roosevelt High School (k505)<br>
Frederick Douglass Academy II Secondary School (m860)<br>

<br><a name="G"></a>G<br><br>
George Westinghouse Career and Technical Education (k605)<br>
Grover Cleveland High School (q485)<br>

<br><a name="H"></a>H<br><br>
H.E.R.O. High (Health, Education, and Research Occupations High School) (x259)<br>
Hamilton Grange Middle School (m209)<br>
Harry S Truman High School (x455)<br>
Health Opportunities High School (x670)<br>
Hellenic Classical Charter School (k362)<br>
Herbert H. Lehman High School (x405)<br>
High School for Civil Rights (k504)<br>
High School for Contemporary Arts (x544)<br>
High School for Dual Language and Asian Studies (m545)<br>
High School For Environmental Studies (m400)<br>
High School for Health Professions and Human Services (m420)<br>
High School for Law Enforcement and Public Safety (q690)<br>
High School for Law, Advocacy and Community Justice (m492)<br>
High School M560 - City As School (m560)<br>
High School of Arts and Technology (m494)<br>
High School of Computers and Technology (x275)<br>
High School of Fashion Industries (m600)<br>
High School of Language and Innovation (x509)<br>
High School of Sports Management (k348)<br>
High School of World Cultures (x550)<br>
Hillcrest High School (q505)<br>
Hudson High School of Learning Technologies (m437)<br>
Humanities & Arts Magnet High School (q498)<br>
Humanities Preparatory Academy (m605)<br>
Hunters Point Community Middle School (q291)<br>
Hyde Leadership Charter School (x345)<br>

<br><a name="I"></a>I<br><br>
I.S. 002 George L. Egbert (r002)<br>
I.S. 005 The Walter Crowley Intermediate School (q005)<br>
I.S. 007 Elias Bernstein (r007)<br>
I.S. 024 Myra S. Barnes (r024)<br>
I.S. 027 Anning S. Prall (r027)<br>
I.S. 034 Tottenville (r034)<br>
I.S. 049 Berta A. Dreyfus (r049)<br>
I.S. 061 William A Morris (r061)<br>
I.S. 072 Rocco Laurie (r072)<br>
I.S. 073 The Frank Sansivieri Intermediate School (q073)<br>
I.S. 075 Frank D. Paulo (r075)<br>
I.S. 077 (q077)<br>
I.S. 098 Bay Academy (k098)<br>
I.S. 125 Thom J. McCann Woodside (q125)<br>
I.S. 136 Charles O. Dewey (k136)<br>
I.S. 227 Louis Armstrong (q227)<br>
I.S. 230 (q230)<br>
I.S. 238 Susan B. Anthony Academy (q238)<br>
I.S. 289 (m289)<br>
I.S. 313 School of Leadership Development (x313)<br>
I.S. 339 (x339)<br>
Icahn Charter School (x717)<br>
Icahn Charter School 3 (x422)<br>
Icahn Charter School 4 (x496)<br>
Icahn Charter School 5 (x538)<br>
Icahn Charter School 6 (x133)<br>
Institute for Health Professions at Cambria Heights (q243)<br>
In-Tech Academy (M.S. / High School 368) (x368)<br>
International High School at Lafayette (k337)<br>
Irwin Altman Middle School 172 (q172)<br>
It Takes a Village Academy (k563)<br>

<br><a name="J"></a>J<br><br>
J.H.S. 054 Booker T. Washington (m054)<br>
J.H.S. 062 Ditmas (k062)<br>
J.H.S. 067 Louis Pasteur (q067)<br>
J.H.S. 088 Peter Rouget (k088)<br>
J.H.S. 098 Herman Ridder (x098)<br>
J.H.S. 104 Simon Baruch (m104)<br>
J.H.S. 118 William W. Niles (x118)<br>
J.H.S. 127 The Castle Hill (x127)<br>
J.H.S. 167 Robert F. Wagner (m167)<br>
J.H.S. 185 Edward Bleeker (q185)<br>
J.H.S. 194 William Carr (q194)<br>
J.H.S. 210 Elizabeth Blackwell (q210)<br>
J.H.S. 216 George J. Ryan (q216)<br>
J.H.S. 217 Robert A. Van Wyck (q217)<br>
J.H.S. 227 Edward B. Shallow (k227)<br>
J.H.S. 234 Arthur W. Cunningham (k234)<br>
J.H.S. 259 William Mckinley (k259)<br>
J.H.S. 278 Marine Park (k278)<br>
James Baldwin School, The: A School for Expeditionary Learning (m313)<br>
Jean Nuzzi Intermediate School (q109)<br>
Jill Chaifetz Transfer High School (x379)<br>
John Adams High School (q480)<br>
John Bowne High School (q425)<br>
John Dewey High School (k540)<br>
John Ericsson Middle School 126 (k126)<br>
Juan Morel Campos Secondary School (k071)<br>

<br><a name="K"></a>K<br><br>
Kingsborough Early College School (k468)<br>
Knowledge and Power Preparatory Academy International High School (Kappa) (x374)<br>
Kurt Hahn Expeditionary Learning School (k569)<br>

<br><a name="L"></a>L<br><br>
Landmark High School (m419)<br>
Leaders of Tomorrow (x370)<br>
Leon M. Goldstein High School for the Sciences (k535)<br>
Lexington Academy (m072)<br>
Liberty Avenue Middle School (k662)<br>
Life Academy High School for Film and Music (k559)<br>
Linden Tree Elementary School (x567)<br>
Lower East Side Preparatory High School (m515)<br>
Lower Manhattan Arts Academy (m308)<br>
Lucero Elementary School (x311)<br>

<br><a name="M"></a>M<br><br>
M.S. 051 William Alexander (k051)<br>
M.S. 137 America's School of Heroes (q137)<br>
M.S. 158 Marie Curie (q158)<br>
M.S. 180 Dr. Daniel Hale Williams (x180)<br>
M.S. 246 Walt Whitman (k246)<br>
M.S. 260 Clinton School Writers & Artists (m260)<br>
M.S. 391 Angelo Patri (x391)<br>
M.S. 839 (k839)<br>
Magnet School of Math, Science and Design Technology (k010)<br>
Manhattan / Hunter Science High School (m541)<br>
Manhattan Business Academy  (m392)<br>
Manhattan Comprehensive Night and Day High School (m575)<br>
Manhattan Early College School for Advertising (P-Tech) (m280)<br>
Marble Hill High School for International Studies (x477)<br>
Marie Curie School for Medicine, Nursing, and Health Professions (x237)<br>
Mark Twain I.S. 239 for the Gifted & Talented (k239)<br>
Martin Van Buren High School (q435)<br>
Maspeth High School (q585)<br>
Mathematics, Science Research and Technology Magnet High School (q492)<br>
Maxine Greene High School for Imaginative Inquiry (m299)<br>
Metropolitan Expeditionary Learning School (q167)<br>
Metropolitan Soundview High School (x521)<br>
Midwood High School (k405)<br>
Millennium Art Academy (x312)<br>
Monroe Academy for Visual Arts & Design (x692)<br>
Mosaic Preparatory Academy (m375)<br>
Mott Hall Bronx High School (x252)<br>
Mott Haven Community High School (x557)<br>
Mt. Carmel Holy Rosary School M (n118)<br>
Murry Bergtraum High School For Business Careers (m520)<br>

<br><a name="N"></a>N<br><br>
Neighborhood School (m363)<br>
New American Academy Charter School (k736)<br>
New Design High School (m543)<br>
New Explorers High School (x547)<br>
New Millennium Business Academy Middle School (x328)<br>
New School for Leadership and Journalism (x244)<br>
New Utrecht High School (k445)<br>
New Visions Charter High School for Advanced Math and Science (x539)<br>
New Visions Charter High School for the Humanities (x553)<br>
New Visions Charter High School for the Humanities II (x208)<br>
New World High School (x513)<br>
New York City Montessori Charter School (x554)<br>
Newcomers High School (q555)<br>
North Bronx School of Empowerment (x287)<br>

<br><a name="O"></a>O<br><br>
<br><a name="P"></a>P<br><br>
P.S. 001 Courtlandt School (x001)<br>
P.S. 003 Charrette School (m003)<br>
P.S. 003 Raul Julia Micro Society (x003)<br>
P.S. 003 The Bedford Village (k003)<br>
P.S. 003 The Margaret Gioiosa School (r003)<br>
P.S. 004 (q004)<br>
P.S. 005 Dr. Ronald Mcnair (k005)<br>
P.S. 005 Ellen Lurie (m005)<br>
P.S. 007 Abraham Lincoln (k007)<br>
P.S. 008 Isaac Varian (x008)<br>
P.S. 008 Luis Belliard (m008)<br>
P.S. 008 Robert Fulton (k008)<br>
P.S. 009 Ryer Avenue Elementary School (x009)<br>
P.S. 009 Teunis G. Bergen (k009)<br>
P.S. 011 Highbridge (x011)<br>
P.S. 011 Kathryn Phelan (q011)<br>
P.S. 013 Clement C. Moore (q013)<br>
P.S. 014 Fairview (q014)<br>
P.S. 014 Senator John Calandra (x014)<br>
P.S. 015 Patrick F. Daly (k015)<br>
P.S. 016 John J. Driscoll (r016)<br>
P.S. 016 The Nancy DeBenedittis School (q016)<br>
P.S. 017 (x017)<br>
P.S. 018 John G. Whittier (r018)<br>
P.S. 019 Asher Levy (m019)<br>
P.S. 019 Marino Jeantet (q019)<br>
P.S. 021 Crispus Attucks (k021)<br>
P.S. 022 Graniteville (r022)<br>
P.S. 023 The New Children's School (x023)<br>
P.S. 024 (k024)<br>
P.S. 024 Spuyten Duyvil (x024)<br>
P.S. 026 Rufus King (q026)<br>
P.S. 026 The Carteret School (r026)<br>
P.S. 028 The Thomas Emanuel Early Childhood Center (q028)<br>
P.S. 028 Wright Brothers (m028)<br>
P.S. 029 John M. Harrigan (k029)<br>
P.S. 030 Hernandez/Hughes (m030)<br>
P.S. 030 Wilton (x030)<br>
P.S. 031 William T. Davis (r031)<br>
P.S. 032 Belmont (x032)<br>
P.S. 032 Samuel Mills Sprole (k032)<br>
P.S. 032 State Street (q032)<br>
P.S. 033 Timothy Dwight (x033)<br>
P.S. 036 Margaret Douglas (m036)<br>
P.S. 036 Unionport (x036)<br>
P.S. 039 Francis J. Murphy Jr. (r039)<br>
P.S. 042 Eltingville (r042)<br>
P.S. 046 Alley Pond (q046)<br>
P.S. 046 Arthur Tappan (m046)<br>
P.S. 046 Edgar Allan Poe (x046)<br>
P.S. 047 John Randolph (x047)<br>
P.S. 048 Mapleton (k048)<br>
P.S. 048 William G. Wilcox (r048)<br>
P.S. 052 Sheepshead Bay (k052)<br>
P.S. 053 The Barbara Esselborn School (r053)<br>
P.S. 054 Samuel C. Barnes (k054)<br>
P.S. 056 Lewis H. Latimer (k056)<br>
P.S. 059 Beekman Hill International (m059)<br>
P.S. 059 The Community School of Technology (x059)<br>
P.S. 062 Chester Park School (q062)<br>
P.S. 064 Joseph P. Addabbo (q064)<br>
P.S. 066 (k066)<br>
P.S. 070 (q070)<br>
P.S. 070 Max Schoenfeld (x070)<br>
P.S. 075 Emily Dickinson (m075)<br>
P.S. 083 Luis Munoz Rivera (m083)<br>
P.S. 084 Jose De Diego (k084)<br>
P.S. 085 Great Expectations (x085)<br>
P.S. 086 Kingsbridge Heights (x086)<br>
P.S. 086 The Irvington (k086)<br>
P.S. 088 Shel Silverstein Little Sparrow School (x088)<br>
P.S. 089 (m089)<br>
P.S. 089 Cypress Hills (k089)<br>
P.S. 093 Albert G. Oliver (x093)<br>
P.S. 094 Kings College School (x094)<br>
P.S. 100 Glen Morris (q100)<br>
P.S. 100 Isaac Clason (x100)<br>
P.S. 100 The Coney Island School (k100)<br>
P.S. 102 Jacques Cartier (m102)<br>
P.S. 103 Hector Fontanez (x103)<br>
P.S. 105 The Bay School (q105)<br>
P.S. 106 Edward Everett Hale (k106)<br>
P.S. 107 John W. Kimball (k107)<br>
P.S. 108 Assemblyman Angelo Del Toro Educational Complex (m108)<br>
P.S. 109 (k109)<br>
P.S. 112 Jose Celso Barbosa (m112)<br>
P.S. 114 Luis Llorens Torres Schools (x114)<br>
P.S. 119 (x119)<br>
P.S. 121 Throop (x121)<br>
P.S. 122 Mamie Fay (q122)<br>
P.S. 126 Dr Marjorie H Dunbar (x126)<br>
P.S. 126 Jacob August Riis (m126)<br>
P.S. 127 Aerospace Science Magne (q127)<br>
P.S. 128 Bensonhurst (k128)<br>
P.S. 129 John H. Finley (m129)<br>
P.S. 130 Abram Stevens Hewitt (x130)<br>
P.S. 130 Hernando De Soto (m130)<br>
P.S. 130 The Parkside (k130)<br>
P.S. 131 Brooklyn (k131)<br>
P.S. 132 Garret A. Morgan (x132)<br>
P.S. 133 Queens (q133)<br>
P.S. 134 Hollis (q134)<br>
P.S. 138 (m138)<br>
P.S. 145 Andrew Jackson (k145)<br>
P.S. 146 (k146)<br>
P.S. 147 Isaac Remsen (k147)<br>
P.S. 149 Christa McCauliffe (q149)<br>
P.S. 149 Sojourner Truth (m149)<br>
P.S. 150 Charles James Fox (x150)<br>
P.S. 153 Helen Keller (x153)<br>
P.S. 153 Homecrest (k153)<br>
P.S. 153 Maspeth Elem (q153)<br>
P.S. 154 Harriet Tubman (m154)<br>
P.S. 155 William Paca (m155)<br>
P.S. 158 Warwick (k158)<br>
P.S. 161 Pedro Albizu Campos (m161)<br>
P.S. 163 Flushing Heights (q163)<br>
P.S. 164 Caesar Rodney (k164)<br>
P.S. 173 (m173)<br>
P.S. 175 The Lynn Gross Discovery School (q175)<br>
P.S. 178 Dr. Selman Waksman (x178)<br>
P.S. 179 Kensington (k179)<br>
P.S. 180 Hugo Newman (m180)<br>
P.S. 185 Walter Kassenbrock (k185)<br>
P.S. 189 (m189)<br>
P.S. 192 Jacob H. Schiff (m192)<br>
P.S. 193 Gil Hodges (k193)<br>
P.S. 195 (x195)<br>
P.S. 196 (x196)<br>
P.S. 196 Grand Central Parkway (q196)<br>
P.S. 197 The Kings Highway Academy (k197)<br>
P.S. 199 Frederick Wachtel (k199)<br>
P.S. 199 Jessie Isador Straus (m199)<br>
P.S. 199 The Shakespeare School (x199)<br>
P.S. 203 Oakland Gardens (q203)<br>
P.S. 204 Morris Heights (x204)<br>
P.S. 205 Clarion (k205)<br>
P.S. 206 Jose Celso Barbosa (m206)<br>
P.S. 206 Joseph F Lamb (k206)<br>
P.S. 214 Michael Friedsam (k214)<br>
P.S. 216 Arturo Toscanini (k216)<br>
P.S. 219 Kennedy-King (k219)<br>
P.S. 222 Fire Fighter Christopher A. Santora School (q222)<br>
P.S. 222 Katherine R. Snyder (k222)<br>
P.S. 224 Hale A. Woodruff (k224)<br>
P.S. 225 The Eileen E. Zaglin (k225)<br>
P.S. 226 (m226)<br>
P.S. 226 Alfred De B.Mason (k226)<br>
P.S. 229 Dyker (k229)<br>
P.S. 233 Langston Hughes (k233)<br>
P.S. 234 Independence School (m234)<br>
P.S. 236 Mill Basin (k236)<br>
P.S. 239 (q239)<br>
P.S. 241 Emma L. Johnston (k241)<br>
P.S. 245 (k245)<br>
P.S. 247 Brooklyn (k247)<br>
P.S. 273 (q273)<br>
P.S. 274 Kosciusko (k274)<br>
P.S. 276 Louis Marshall (k276)<br>
P.S. 295 (k295)<br>
P.S. 307 Daniel Hale Williams (k307)<br>
P.S. 310 Marble Hill (x310)<br>
P.S. 312 Bergen Beach (k312)<br>
P.S. 315 (k315)<br>
P.S. 316 Elijah Stroud (k316)<br>
P.S. 345 Patrolman Robert Bolden (k345)<br>
P.S. 360 (x360)<br>
P.S. 361 East Flatbush Early Childhood School (k361)<br>
P.S. 373 Brooklyn Transition Center (k373)<br>
P.S. 375 Jackie Robinson School (k375)<br>
P.S. 452 (m452)<br>
P.S. 721 Brooklyn Occupational Training Center (k721)<br>
P.S. 721 Stephen McSweeney School (x721)<br>
P.S./I.S. 030 Mary White Ovington (k030)<br>
P.S./I.S. 045 Horace E. Greene (k045)<br>
P.S./I.S. 187 Hudson Cliffs (m187)<br>
P.S./I.S. 217 Roosevelt Island (m217)<br>
P.S./I.S. 266 (q266)<br>
P.S./I.S. 295 (q295)<br>
P.S./M.S. 020 P.O.George J. Werdann, III (x020)<br>
P.S./M.S. 042 R. Vernam (q042)<br>
P.S./M.S. 280 Mosholu Parkway (x280)<br>
P186X Walter J. Damrosch School (x186)<br>
Pan American International High School at Monroe (x388)<br>
Park East High School (m495)<br>
Pelham Lab High School (x320)<br>
Pelham Preparatory Academy (x542)<br>
Performing Arts and Technology High School (k507)<br>
Port Richmond High School (r445)<br>

<br><a name="Q"></a>Q<br><br>
Queens High School for Language Studies (q241)<br>
Queens Metropolitan High School (q686)<br>
Queens Technical High School (q600)<br>
Quest to Learn (m422)<br>

<br><a name="R"></a>R<br><br>
Ralph A. Fabrizio School (k170)<br>
Renaissance High School for Musical Theater & Technology (x293)<br>
Riverdale / Kingsbridge Academy (Middle School / High School 141) (x141)<br>
Riverview School, The (q277)<br>
Robert F. Kennedy Community High School (q670)<br>

<br><a name="S"></a>S<br><br>
Samara Community School (x458)<br>
Scholars' Academy (q323)<br>
School for Environmental Citizenship (x386)<br>
School For Future Leaders (k310)<br>
School for International Studies (k497)<br>
School in the Square Public Charter School (m295)<br>
Schuylerville Preparatory High School (x348)<br>
Science and Medicine Middle School  (k366)<br>
South Bronx Academy for Applied Media (x296)<br>
Space Shuttle Columbia School (r058)<br>
Special Music School (m859)<br>
St. Ann School M (n153)<br>
St. Francis Prep Q (u279)<br>
St. Saviour Academy K (l356)<br>
Staten Island School of Civic Leadership (r861)<br>
Staten Island Technical High School (r605)<br>
Stephanie A. Vierno School, The (r041)<br>
Stephen T. Mather Building Arts & Craftsmanship High School (m139)<br>
Stuyvesant High School (m477)<br>
Sunset Park High School (k667)<br>
Susan E. Wagner High School (r460)<br>

<br><a name="T"></a>T<br><br>
Teachers College Community School (m517)<br>
Technology, Arts, and Sciences Studio (m301)<br>
Theatre Arts Production Company School (x225)<br>
Tottenville High School (r455)<br>
Townsend Harris High School (q525)<br>

<br><a name="U"></a>U<br><br>
Urban Assembly Academy of Government and Law, The (m305)<br>
Urban Assembly Gateway School for Technology (m507)<br>
Urban Assembly Maker Academy (m282)<br>
Urban Assembly School for Applied Math and Science, The (x241)<br>
Urban Assembly School for Careers in Sports (x548)<br>
Urban Assembly School For Emergency Management (m135)<br>
Urban Assembly School for Media Studies, The (m307)<br>

<br><a name="V"></a>V<br><br>
Validus Preparatory Academy: An Expeditionary Learning School (x263)<br>
Veritas Academy (q240)<br>
Vista Academy (k661)<br>

<br><a name="W"></a>W<br><br>
Wadleigh Secondary School for the Performing & Vis (m415)<br>
Walton Avenue School, The (x294)<br>
West Bronx Academy for the Future (x243)<br>
Westchester Square Academy (x558)<br>
William Cullen Bryant High School (q445)<br>
Woodside Community School, The (q361)<br>
World Academy for Total Community Health High School (k510)<br>

<br><a name="X"></a>X<br><br>
<br><a name="Y"></a>Y<br><br>
Yeshiva Rabbi Chaim Berlin K (l720)<br>
Young Women's Leadership School (m610)<br>

<br><a name="Z"></a>Z<br><br>
</ul>
</div>
	</div>
</div>
      </section>

      <!-- Footer -->
<!-- footer class='footer' role="contentinfo">
  <div class='top affiliates'>
  	<a href="http://nypl.org" target="_blank"><img alt="New York Public Library" border="0" src="/assets/nypl-d06c9d419597953446530735492e419a.png" /></a>
    <a href="http://www.brooklynpubliclibrary.org" target="_blank"><img alt="Brooklyn Public Library" border="0" only_path="true" src="/assets/brooklyn_public_library-be8029b41c34c5fc6da1d5234ff868e0.png" /></a>
    <a href="http://www.queenslibrary.org" target="_blank"><img alt="Queens Public Library" border="0" src="/assets/queens_public_library-f9f6940be42dfea0c997b0f125ff6ede.png" /></a>
    <a href="http://schools.nyc.gov" target="_blank"><img alt="NYC Department of Education" border="0" src="/assets/doe-5944e4a844c1caf1c94d3dff19215277.png" /></a>
  </div>
</footer>

    </div>
    <script src="/assets/application-3ad22d4433b9c0e0ccf2ac20349cbf62.js" type="text/javascript"></script>
  </body>
</html -->
