
<script type="text/javascript">
var linkElement = document.createElement("link");
linkElement.rel = "stylesheet";
linkElement.href = "/assets/static_site_copies/static_application.css";

document.head.appendChild(linkElement);
</script>

<section class="grid--center wrapper--content" role="main">
  <div class="grid__item" role="main">
    <div class="pg--wrapper">

      <h2>What is MyLibraryNYC?</h2>
      <p>MyLibraryNYC is a partnership between the NYC Department of Education and New York City’s public library systems: Brooklyn Public Library, New York Public Library, and Queens Public Library. The program provides participating schools with:</p>
<ol>
<li>enhanced library privileges including fine-free student and educator library cards*;</li>
<li> school delivery and the exclusive use of 6,000+ Teacher Sets designed for educator use in the classroom; and</li>
<li> student and educator access to the unparalleled digital resources of New York City’s public library systems as well as instructional support and professional development opportunities.</li>
</ol>
<p><i>*No overdue charges on books, audiobooks, or teacher sets; standard overdue charges apply on all other materials (e.g. DVDs, CDs, magazines); Queens has Read Down Your Fines for Student Cards; any excessively delinquent or negligent educator and student accounts will be blocked.</i></p>
</br>

<hr>
<h3>DOES MY SCHOOL PARTICIPATE IN MYLIBRARYNYC?</h3>
<p>You can see the list of participating schools at <a href="http://www.mylibrarynyc.org/about/participating-schools">mylibrarynyc.org/about/participating-schools.</a></p>
</br>

<hr>
<h3>HOW CAN MYLIBRARYNYC BENEFIT MY SCHOOL?</h3>
<p><a href="http://www.slj.com/2015/06/public-libraries/mylibrarynyc-brings-public-library-services-to-city-schools-500000-k-12-students/#_">“MyLibraryNYC Brings Public Library Services to City Schools, 500,000+ Students”</a> in School Library Journal (June 24, 2015) </p>
<p><a href="http://www.uft.org/news-stories/special-delivery">“MyLibraryNYC program opens up endless possibilities for cash-strapped schools”</a> in UFT: United Federation of Teachers (Jan 8, 2015) </p>
<p><a href="http://www.uft.org/galleries/photo/mylibrarynyc-program-serves-schools">“MyLibraryNYC Program Serves Schools”</a> in UFT: United Federation of Teachers (Dec 10, 2014) </p>
</br>

<hr>
<h3>HOW CAN MY SCHOOL JOIN MYLIBRARYNYC?</h3>
<p>To find if your school is eligible to participate in the program for the upcoming school year, please visit the <a href="http://nycdoe.libguides.com/c.php?g=65917&p=1832427">DOE Office of Library Services</a> website or call 212-356-8572.<p>
<p>
<p>Participation requirements include the following:</p>
<ul>
<li>School must have a functioning and automated school library</li>
<li>(If not currently automated, school must agree to automate their school library to the ILS platform Destiny)</li>
<li>School must have a school librarian or teacher assigned to the school library</li>
<li>School must agree to pay an annual program fee</li>
</ul>

<hr>
<h3>FREQUENTLY ASKED QUESTIONS:</h3>
<p><i>How long does it take to get teacher sets delivered to my school?</i></br>
All available teacher sets will be delivered in about 2 weeks by UPS to your school.</p>

<p><i>How long can I borrow the teacher sets?</i></br>
Teachers can keep teacher sets (and other books and audiobooks you borrow from your local library) for up to 60 days. Plus, teachers never pay fines on overdue books.</p>

<p><i>Who is eligible to participate?</i></br>
All educators and students at <a href="http://www.mylibrarynyc.org/about/participating-schools">participating schools</a> are eligible.</p>

<p><i>What are Teacher Sets?</i></br>
There are two types of Teacher Sets:
<ul>
<li><a href="http://sets.mylibrarynyc.org/app#/teacher_sets?type%5B%5D=multi">Topic Sets</a> (10-30 copies of multiple titles on a single topic, such as <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?keyword=newbery%20award">Newbery Award Winners</a>)</li>
<li><a href="http://sets.mylibrarynyc.org/app#/teacher_sets?type%5B%5D=single">Book Club Sets</a> (10 copies of a single title, such as <a href="http://sets.mylibrarynyc.org/app#/teacher_sets/20025726052907">The Fault in Our Stars</a>)</li>
</ul>
</p>
<p>Teacher Sets are curated collections of items based on subjects or individual titles. You can search for Teacher Sets by grade band, subject, topic, and keyword.</p>
<p>Teacher Set subjects include <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=English%2BLanguage%2BArts">English Language Arts</a>, <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Spanish%2BLanguage%2BArts">Spanish Language Arts</a>, <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Math">Math</a>, <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Science">Science</a>, <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Social%2BStudies">Social Studies</a>, and the <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Arts">Arts</a>.</p>
<p>Start browsing our Teacher Sets now through our Teacher Set catalog.</p>
<p>Have Ordering or Delivery Questions? Please visit our <a href="http://sets.mylibrarynyc.org/help">Help</a> section or <a href="mailto:help@mylibrarynyc.org">Contact Us</a>.</p>

<hr>

    </div>
  </div>
</section>
