@import "mixins/_vars";
@import "mixins/_mq";

/*------------------------------------*\
  DEFAULTS
\*------------------------------------*/

/**
 * All the single HTML elements, put your hands up.
 */
html,
body {
	/* Fix for footer gap */
	margin:0;
	padding:0;
	height:100%;
}
body {
	background: #FFF;
}
 
a {
	color: $blue;
}

p {
	max-width: $measure;
}

.page--wrapper {
	min-height: 100%;
	position:  relative;
}

.wrapper--content {
	margin-top: 128px;
	max-width: $desk-start;
	text-align: center;
	/* Fix for footer gap */
	padding-bottom: 610px;
	@media only screen and (min-width: 768px) {
		padding-bottom: 280px;
	}
	
	@media only screen and (min-width:400px) {
		margin-top: 80px;
	}
	
	@include media-query(desk) {
		margin-left: auto;
		margin-right: auto;
	}
}

// links to Teacher Sets
.button{
	@include button($black, $white);
	display: inline-block;
	margin: .5rem 0;
}