@import "mixins/_vars";
@import "mixins/_mq";

/**
 * Global Navigation and logo
 */
.nav--global {
	background: $red;
	color: $softWhite;
	padding: 1rem 1rem 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.wrapper--nav--global {
	margin: 0 auto;
	max-width: 800px;
}

.nav--global__list {
	text-align: center;
	
	@media only screen and (min-width:400px) {
		float: right;
	}

	> li {
		@include button(darken($red, 5%),$white);
		font-size: .8rem;
		min-width: 60px;
		height: 40px;
		position: relative;
		
		a {
			color: $softWhite;
			text-decoration: none;
			
			&:hover{
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}

.dropdown-menu {
	/*opacity: 0;
	z-index: -1;*/
	display: none;
	position: absolute;
	background: inherit;
	border-radius: $brand-round;
	line-height: 2rem;
	width: 200px;
	right: -70px;
	/*top: 180px;*/
	top: 50px;
	@include arrow(top, center, darken($red, 5%));
	/*-webkit-transition: all .4s; 
         	transition: all .4s; */
}

.dropdown--active {
	/*opacity: 1;
	z-index: 1;
	top: 50px;*/
}

.site-logo {
	margin: 0 auto .5rem;
	height: 40px;
	width: 160px;
	@media only screen and (min-width:400px){
		float: left;
	}
}