@import "mixins/_vars";
@import "mixins/_mq";

// Homepage
.wrapper--content {
	margin-top: 128px;
	max-width: $desk-start;
	text-align: center;
	
	@media only screen and (min-width:400px) {
		margin-top: 80px;
	}
	
	@include media-query(desk) {
		margin-left: auto;
		margin-right: auto;
	}
}

.wrapper--feature {
	background: $warmGrayDarkest;
	border-radius: $brand-round;
	color: $white;
	// margin: 2rem;
	padding: 1rem;
	text-align: center;
	min-height: 515px;

	p {
		color: $warmGrayLightest;
	}
}

// Intro text
.intro-text {
	display: none;
	color: $warmGrayDarker;
	font-weight: bold;
	margin: 104px 0 0 24px;
	padding: 1rem;

	@media only screen and (min-width:768px) {
		display: block;
	}

	.lap-lg-and-up-one-third {
		@media only screen and (min-width:768px) {
			width: 33.333%;
		}
	}
}

.intro-text__firstline {
	color: $warmGrayDarkest;
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 1rem;
	
	@include media-query(lap-and-up) {
		font-size: 2rem;
	}
}

.intro-text__first {
	color: $red;
}

.intro-text__number {
	background: $red;
	border-radius: 50%;
	color: $white;
	display: block;
	margin: 0 auto;
	padding-top: .25rem;
	width: 2rem;
	height: 2rem;
	
	@include media-query(lap-and-up) {
		display: inline-block;
	}
}

.intro-text__line {
	display: inline-block;
	padding-bottom: 1.5rem;

	@include media-query(lap-and-up){
		display: block;
	}
}

.intro-text__number {
	background: $red;
	border-radius: 50%;
	color: $white;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-top: .25rem;
	width: 2rem;
	height: 2rem;
}

.intro--wrapper {
	font-weight: bold;
	color: #7d7872;
}

.feature--third {
	margin: 10px 0;

	@media only screen and (min-width: 768px) {
		width: 33%;
	}
}

.feature--primary {
	@media only screen and (min-width: 768px) {
		width: 50%;
	}
}

.feature--secondary {
	@media only screen and (min-width: 601px)  {
		width: 66.666%;
	}
}

// School Finder Widget
#doe_schools {

	#city_link {
		background: $softWhite;
		border: none;
		color: $warmGrayDarkest;
		height: 2rem;
		width: 100%;
	}

	.text {
		background: $softWhite;
		border:	none;
		border-radius: $brand-round;
		height: 2rem;
		line-height: normal;
		margin: 1rem 0;
		padding: 0 .5rem;
		width: 100%;
	}

	#location_name {

		&:disabled {
			cursor: not-allowed;
		}

		&.ui-autocomplete-input {

			&::-webkit-input-placeholder {
			  color: #333;
			}
			&:-moz-placeholder {
		    /* FF 4-18 */
		    color: #333;
			}
			&::-moz-placeholder {
		    /* FF 19+ */
		    color: #333;
			}
			&:-ms-input-placeholder {
		    /* IE 10+ */
		    color: #333;
			}
		}
	}

	.library_catalog_button {
		display: none;
		width: 80%;
		max-width: 100%;
		margin-top: 20px;
	}

	.submit_button {
		display: inline-block;
		max-width: 200px;
		width: 100%;
		@include button($black, $white);

		&.disable {
			background-color:  $warmGrayLighter;
		}
	}
}

.teacher-sets-btns {
	
	a.button {
		display: block;
		margin: .5rem auto;
		max-width: 220px;
	}
	
	span {
		line-height: 1.9em;
	}
}

.program--points {
	display: block;
	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.points--wrapper {
	padding: 0px 20px;
}
