
// Sub page wrapper
.pg--wrapper {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style: dashed;
	border-color: #c5c2bb;
	background: #FCFAF7;
	margin: 2rem;
	padding: 1rem;
}

.help-page{
	margin: 2rem;
	padding: 10rem;
	line-height: 22px;
}