/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require info-site/jquery_ui_required
 *= require info-site/main
*/

#participating_schools_id p { margin-bottom: -20px; }

#participating_schools_id_1 { margin: 1em 0; margin-bottom: 2em;}

#schools_not_found { margin: 1em 0; color: red; }

.participating_schools { font-size: xx-large; font-weight: bold; }

.school_header {font-size: large; font-weight: bold;}

.school_inbox { box-sizing:border-box; height:2em; padding:.5em; width: 19em; }

.page-content { margin: 2rem; padding: 1rem; }
