<h2>What is MyLibraryNYC?</h2>

<p>MyLibraryNYC is a partnership between the NYC Department of Education and New York City’s public library systems: Brooklyn Public Library, New York Public Library, and Queens Library. The program provides participating schools with: 1) enhanced library privileges including fine-free student and educator library cards*; 2) school delivery and the exclusive use of 6,000+ Teacher Sets designed for educator use in the classroom; and 3) student and educator access to the unparalleled digital resources of New York City’s public library systems as well as instructional support and professional development opportunities.</p>
<p><i>*No overdue charges on <u>books, audiobooks, or teacher sets</u>; standard overdue charges apply on all other materials (e.g. DVDs, CDs, magazines); Queens has <a href="http://www.queenslibrary.org/services/library-card/read-down-your-fees">Read Down Your Fines</a> for Student Cards; any excessively delinquent or negligent educator and student accounts will be blocked.</i></p>

<hr />

<h2>Does My School Participate in MyLibraryNYC?</h2>

<p>You can see the list of participating schools at <%= link_to "mylibrarynyc.org/about/participating-schools", "http://www.mylibrarynyc.org/about/participating-schools" %>.</p>

<hr />

<h2>What are teacher sets?</h2>

<p>There are two types of Teacher Sets:
<ul style="list-style: inherit; margin: 5px 20px;">
  <li><a href="http://sets.mylibrarynyc.org/app#/teacher_sets?type%5B%5D=multi">Topic Sets</a> (10-30 copies of multiple titles on a single topic, such as <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?keyword=newbery%20award">Newbery Award Winners</a>)</li>
  <li><a href="http://sets.mylibrarynyc.org/app#/teacher_sets?type%5B%5D=single">Book Club Sets</a> (10 copies of a single title, such as <a href="http://sets.mylibrarynyc.org/app#/teacher_sets/20025726052907">The Fault in Our Stars</a>)</li>
</ul>
Teacher Sets are curated collections of items based on subjects or individual titles. You can search for Teacher Sets by grade band, subject, topic, and keyword.</p>
<p>Teacher Set subjects include <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=English%2BLanguage%2BArts">English Language Arts</a>, <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Spanish%2BLanguage%2BArts">Spanish Language Arts</a>, <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Math">Math</a>, <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Science">Science</a>, <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Social%2BStudies">Social Studies</a>, and the <a href="http://sets.mylibrarynyc.org/app#/teacher_sets?subject%5B%5D=Arts">Arts</a>.</p>

<hr />

<h2>What Is the Teacher Sets Catalog?</h2>
<p><%= link_to "sets.mylibrarynyc.org", root_url %>, also known as the Teacher Sets web app, is a simplified way to find and order Teacher Sets for delivery to your school.</p>
<p>To order individual titles from your local library, go to <a href="http://www.mylibrarynyc.org/">mylibrarynyc.org</a> and click on Request Individual Items.</p>

<hr />

<h2>How Do I Use the Teacher Sets Catalog?</h2>
<p>To use the Teacher Sets catalog, all you need is your DOE email address. Once you confirm your school, you are registered and can place orders. If you do not check your DOE email frequently, you can provide an alternate email address to ensure that you receive order confirmations and updates in a timely manner.</p>

<hr />

<h2>Which Devices/Browsers Can I Use to Order Teacher Sets?</h2>
<p>You can order Teacher Sets from school or home using your internet-connected desktop/laptop (PC or Mac) or tablet/smartphone (Android or iOS). The Teacher Sets Catalog works best on Chrome, Safari, Firefox, and Opera browsers. You may encounter display or time-out issues using Internet Explorer.</p>

<hr />

<h2>What Happens After I Place an Order?</h2>
<p>Order confirmation, status update, and shipment notices are sent via email. They are also available under My Accounts. You may cancel an order the time it is placed or through the confirmation email. If a Teacher Set that you have ordered becomes unavailable, you will be notified within 24 hours (Monday-Friday). Teachers Sets are shipped, via UPS, on Fridays and are delivered directly to your school library. There is no charge for shipping or returns. The average delivery time for an available Teacher Set is 2 weeks.</p>

<hr />

<h2>Where Can I Get More Help?</h2>
<p>Please email <a href="mailto:help@mylibrarynyc.org">help@mylibrarynyc.org</a> if you have additional questions.</p>
<p>The DOE encourages all new school librarians to sign up for the Edmodo MyLibraryNYC group as a way to communicate with other MyLibraryNYC teachers, and for all MyLibraryNYC program alerts. Want to join? Sign up as a Teacher following the instructions posted on the <a href="http://nycdoe.libguides.com/MyLibraryNYC">NYCDOE Office of Library Services LibGuide</a>.</p>

<hr />

<h2>How Can I Get Help with Delivery?</h2>
<p>Shipments go out every Friday, with delivery to your school typically on Mondays or Tuesdays.</p>
<p>Shipments are addressed to the School Librarian, with the requesting teacher’s name in the accompanying binder. Teacher Sets arrive in bright red bins or yellow padded envelopes. All shipments contain prepaid UPS labels for return delivery.</p>
<p>When ordering available Teacher Sets, allow 2 weeks for delivery.</p>
<p>Delivery Questions? Email <a href="mailto:delivery@mylibrarynyc.org">delivery@mylibrarynyc.org</a> to request additional bins, mailing envelopes, postage paid labels, or for help with delivery-related questions.</p>
<p>Want to learn more? Watch <a href="https://vimeo.com/107744013">MyLibraryNYC Behind the Scenes: Teacher Sets</a>. It details what happens after a hold is placed on a Teacher Set.</p>
<p style="text-align: center;"><iframe src="https://player.vimeo.com/video/107744013" width="500" height="344" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>

<hr />

<h2>How can My School Join MyLibraryNYC?</h2>
<p>To find if your school is eligible to participate in the program for the upcoming school year, please visit the <a href="http://nycdoe.libguides.com/c.php?g=65917&p=1832427">DOE Office of Library Services</a> website or call 212-356-8572.</p>

