
<!-- !doctype html>
    <!- - TODO analytics - ->
  </head>

  <body>
    <div class='page- -wrapper'>
      <!- - Header - ->
<header>
  <nav class="nav- -global cf" role="navigation">
    <div class="wrapper- -nav- -global">
      <!- - Logo - ->
      <div class="site-logo" role="banner">
        <a href="/"><img alt="Mylibrarynyc-logo-white-mini" border="0" src="/assets/mylibrarynyc-logo-white-mini-83db8b76ad8ecb0f435e66b5c8b92337.png" /></a>
      </div>

      <!- - Navigation - ->
      <ul class="nav nav--global__list">
        <li>
          <a href="app#/about/participating-schools">Participating Schools</a>
        </li>
        <li>
          <a href="app#/about/about-mylibrarynyc">About</a>
        </li>
        <li>
          <a href="http://sets.mylibrarynyc.org/help">Help</a>
        </li>
        <li>
          <a href="/contacts-links">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header -->

<script type="text/javascript">
  var linkElement = document.createElement("link");
  linkElement.rel = "stylesheet";
  linkElement.href = "/assets/static_site_copies/static_application.css";
  document.head.appendChild(linkElement);
</script>

      <!-- Main Content -->
      <section class="grid--center wrapper--content" role="main">


<div class="intro-text">
  <div class="intro-text__firstline">
    MyLibraryNYC provides participating schools with:
  </div>

  <div class="grid__item lap-lg-and-up-one-third">
    <span class="intro-text__number">1</span>
    <span class="intro-text__line">
      <span class="intro-text__first">TEACHER SETS</span>
      <br>
      Over 10,000 sets specifically designed by librarians for educator use,
      featuring a wide range of subjects and materials in a variety of formats.
    </span>
  </div>

  <div class="grid__item lap-lg-and-up-one-third">
    <span class="intro-text__number">2</span>
    <span class="intro-text__line">
      <span class="intro-text__first">PROFESSIONAL DEVELOPMENT</span>
      <br>
      MyLibraryNYC educators can participate in workshops on a wide variety of subjects,
      aligned to New York State’s Learning Standards to encourage reading and learning.
    </span>
  </div><!--
  --><div class="grid__item lap-lg-and-up-one-third">
    <span class="intro-text__number">3</span>
    <span class="intro-text__line">
      <span class="intro-text__first">EXCLUSIVE PROGRAMS</span>
      <br>
      From author talks to school programs, participating MyLibraryNYC schools can access a range of exciting programming.
    </span>
  </div>
</div>

<div class="home-features">
  <div class="grid__item feature--third teacher-sets--feature">
    <div class="wrapper--feature">
      <img alt="clip-art-of-teacher-sets" border="0" src="/assets/teacher-sets-83db8b76ad8ecb0f435e66b5c8b92337.png" width="81" height="100">
      <h1>Order Teacher Sets</h1>
      <p>Order Teacher Sets for Delivery to your School - Delivery to your School within 2 weeks for Available Sets</p>
      <div class="teacher-sets-btns">
        <a class="button feature-link" href="http://sets.mylibrarynyc.org/">Teacher Sets Catalog</a>
      </div>
    </div>
  </div>

  <div class="grid__item feature--third">
    <div class="wrapper--feature">
      <img alt="Indiv-titles" border="0" height="100" src="/assets/indiv-titles-eadcd858f71c58b481fff0d2576bdef6.png" width="81">
      <h1>Explore Professional Development Opportunities</h1>
      <p>&nbsp;</p>
      <!-- %= render 'layouts/widget' % -->

      <div class="teacher-sets-btns">
        <a class="button feature-link" href="http://sets.mylibrarynyc.org/assets/2018_2019_School_Outreach_Menu_of_Services.pdf">Menu of Services</a>
      </div>

    </div>
  </div>

  <div class="grid__item feature--third">
    <div class="wrapper--feature">
      <img alt="Digital-resources" border="0" height="100" src="/assets/digital-resources-ba296c02caf25f4ca40a1736bd9eb6f4.png" width="81">
      <h1>Access Digital Resources</h1>
      <p>&nbsp;</p>
      <div>
        <a class="button feature-link" href="http://sets.mylibrarynyc.org/assets/2019_09_04_MyLibraryNYC_Programs_and_Professional_Development_Opportunities.pdf">Explore electronic <br/>databases, ebooks, <br/>and more.</a>
      </div>
    </div>
  </div>

  <div class="grid__item feature--primary program--points">
    <div class='points--wrapper'>
      <div class="intro-text__firstline">
        MyLibraryNYC provides participating schools with:
      </div>

      <div class='intro--wrapper'>
        <span class="intro-text__number">1</span>
        <span class="intro-text__line">
          <span class="intro-text__first">ACCESS TO MILLIONS OF FREE RESOURCES</span>
          <br>
          Individual titles, Teacher Sets, educational databases
        </span>
      </div>

      <div class='intro--wrapper'>
        <span class="intro-text__number">2</span>
        <span class="intro-text__line">
          <span class="intro-text__first">ENHANCED LIBRARY PRIVILEGES</span>
          <br>
          No fines, extended borrowing, free book delivery and pick up for teachers
        </span>
      </div>

      <div class='intro--wrapper'>
        <span class="intro-text__number">3</span>
        <span class="intro-text__line">
          <span class="intro-text__first">CURRICULUM SUPPORT</span>
          <br>
          Common Core, differentiated instruction, English language learners, independent reading
        </span>
      </div>
    </div>
  </div>
</div>


</section>

<!-- Footer - ->
<footer class='footer' role="contentinfo">
<div class='top affiliates'>
<a href="http://nypl.org" target="_blank"><img alt="New York Public Library" border="0" src="/assets/nypl-d06c9d419597953446530735492e419a.png" /></a>
<a href="http://www.brooklynpubliclibrary.org" target="_blank"><img alt="Brooklyn Public Library" border="0" only_path="true" src="/assets/brooklyn_public_library-be8029b41c34c5fc6da1d5234ff868e0.png" /></a>
<a href="http://www.queenslibrary.org" target="_blank"><img alt="Queens Public Library" border="0" src="/assets/queens_public_library-f9f6940be42dfea0c997b0f125ff6ede.png" /></a>
<a href="http://schools.nyc.gov" target="_blank"><img alt="NYC Department of Education" border="0" src="/assets/doe-5944e4a844c1caf1c94d3dff19215277.png" /></a>
</div>
</footer>

</div>
<script src="/assets/application-3ad22d4433b9c0e0ccf2ac20349cbf62.js" type="text/javascript"></script>
</body>
</html -->
