<div role="main">
  <h1 class="pg--title">FAQ</h1>
  <div class="pg--content">
    <table>
      <% @faqs.each_with_index do |faq, index| %>
        <tr><td><div class="questions"><%= faq.question.html_safe %><span class="plusminus">+</span></div>
        <div class="answers" style="display: none;">
          <%= faq.answer.html_safe %>
        </div></td></tr>
      <% end %>
    </table>
  </div>
</div>
