
<%= react_component("AppBreadcrumbs", props: {contacts: "contacts"}, prerender: false) %>
<!-- <div role="main">
  <h1 class="pg--title">Help</h1>
  <div class="pg--content">
    <b>Have a question about library cards, your account, or <br>
    library staff visiting your school for professional development?</b><br><br>
    
    For schools in The Bronx, Manhattan, and Staten Island, write to: <br>
    <a href="mailto:mylibrarynyc@nypl.org">mylibrarynyc@nypl.org</a><br><br>
    For schools in Brooklyn:<br>
    <a href="mailto:mylibrarynyc@bklynlibrary.org">mylibrarynyc@bklynlibrary.org</a><br><br>
    For schools in Queens:<br>
    <a href="mailto:mylibrarynyc@queenslibrary.org">mylibrarynyc@queenslibrary.org</a><br><br>
    General questions:<br>
    <a href="mailto:help@mylibrarynyc.org">help@mylibrarynyc.org</a><br><br>
    Delivery Questions:<br>
    <a href="mailto:delivery@mylibrarynyc.org">delivery@mylibrarynyc.org</a><br><br>
    <p class="help-text"><b>Have questions about MyLibraryNYC or how to join?</b></p><br>
    Search our list of schools to see if your school already participates<br>
    <a href="http://www.mylibrarynyc.org/about/participating-schools">Participating schools</a><br><br>
    To find if your school is eligible to participate in the program next year<br>
    Call me <a href="http://nycdoe.libguides.com/home">DOE Office of Library Services</a> at 917-521-3734.
  </div>
</div> -->