<% unless @calendar_event.present? %>
  <div role="main">
   <h2 class="pg--title">Mylibrarynyc calendar</h2>
    <div class="pg--content">
      <table>
        Mylibrarynyc calendar not found. Please create calendar.
      </table>
    </div>
  </div>
<% end %>
