<% if @is_success %>
  <div>Thank you for subscribing to the MyLibraryNYC newsletter. Your email has been confirmed.</div>
<% else %>
  <div>Unfortunately there was a problem. Please try subscribing again <a href="https://www.mylibrarynyc.org/">www.mylibrarynyc.org</a> or contact <a href='mailto:help@mylibrarynyc.org'>help@mylibrarynyc.org</a>.</div>
<% end %>