<% if @is_success %>
  <p class="nl-conf-msg">Thank you for subscribing to the MyLibraryNYC newsletter. Your email has been confirmed.</p>
<% else %>
  <p class="nl-conf-msg">Unfortunately there was a problem. Please try subscribing again <a href="https://www.mylibrarynyc.org/">www.mylibrarynyc.org</a> or contact <a href='mailto:help@mylibrarynyc.org'>help@mylibrarynyc.org</a>.</p>
<% end %>
