<div class='error-message' ng-show="errorMessage">{{ errorMessage }}</div>
<div class="animate-in-container" ng-show="loaded">
  <ng-include src="'/templates/shared/_breadcrumb.html'"></ng-include> 
  <div class="row">
    <div id="teacher_set" class="column">
      <div class="ts-banner subject subject-{{ts.subject_key}}">
        <i class="fa"></i>
        <h3>{{ts.title}}</h3>
      </div> 
      <div class="ts-actions">
        <div data-ng-show="!active_hold && is_available">
          <a ng-click="doReserve()" class="button secondary">{{ts.availability_string}} - Order now!</a>
          <p>Available Teacher Sets will deliver to your school within 2 weeks. For Teacher Sets that are currently in use by other educators, please allow 60 days or more for delivery. If you need materials right away, contact us at <a href="mailto:help@mylibrarynyc.org">help@mylibrarynyc.org</a>.</p>
        </div>
        <div data-ng-show="active_hold || !is_available">
          <a class="button queue disabled">{{ts.availability_string}}</a>
          <p data-ng-show="!active_hold">
            This Teacher Set is unavailable. As it is currently being used by other educators, please allow 60 days or more for availability. If you would like to be placed on the wait list for this Teacher Set, contact us at <a href="mailto:help@mylibrarynyc.org">help@mylibrarynyc.org</a>.
          </p>
          <p ng-show="active_hold">
            You have placed a <a href="#/holds/{{active_hold.access_key}}">hold</a> on this Teacher Set. If you need multiple copies of this Teacher Set, contact us at <a href="mailto:help@mylibrarynyc.org">help@mylibrarynyc.org</a>.
          </p>
        </div>
      </div>    
      <p class="ts-description">{{ts.description}}</p>
      <h3 ng-show="ts.books"><ng-pluralize count="ts.books.length" when="{'1': '1 Title', 'other': '{} Titles'}"></ng-pluralize></h3>
      <ul class="ts-book-list" ng-class="{'ts-copy-list': ts.set_type=='single' && ts.books.length==1}">
        <li ng-repeat="copy in [1,2,3,4,5]" ng-if="ts.set_type=='single' && ts.books.length==1">
          <a><img ng-show="ts.books[0].cover_uri" ng-src="{{ts.books[0].cover_uri}}" /></a>
        </li>
        <li ng-repeat="book in ts.books">
          <a href="#/books/{{book.id}}">
            <img ng-show="book.cover_uri" ng-src="{{book.cover_uri}}" title="{{book.title}}"/>
            <span ng-hide="book.cover_uri">{{book.title}}</span>
          </a>
        </li>
        <li class="physical-description" ng-if="ts.set_type=='single' && ts.books.length==1 && ts.physical_description">
          <div>({{ts.physical_description}})</div>
        </li>
      </ul>
      <div class="ts-contents" ng-show="(!ts.books || !ts.books.length ) && ts.contents">
        <h3>Contents</h3>
        <pre>{{ts.contents}}</pre>
      </div>
            
      <hr />
      
      <div class="ts-details">      
        <dl>        
          <dt ng-show="ts.suitabilities_string">Suggested Grade Range</dt>
          <dd>{{ts.suitabilities_string}}</dd>
          <dt ng-show="ts.publication_date">Publication Date</dt>
          <dd>{{ts.publication_date}}</dd>       
          <dt ng-show="ts.primary_language">Primary Language</dt>
          <dd>{{ts.primary_language}}</dd>
          <dt ng-show="ts.physical_description">Physical Description</dt>
          <dd>{{ts.physical_description}}</dd>    
          <dt ng-show="ts.teacher_set_notes.length > 0 || ts.statement_of_responsibility">Notes</dt>
          <dd class="notes" ng-repeat="note in ts.teacher_set_notes">{{note.content}}</dd>
        </dl>
      </div>      
      
      <a ng-click="moreList = !moreList" ng-show="!moreList"><i class="fa fa-plus-circle"></i> See More</a>
      <div class="ts-details ts-more-details" ng-class="{'show': moreList}">      
        <dl>
          <dt ng-show="ts.call_number">Call Number</dt>
          <dd>{{ts.call_number}}</dd>          
          <dt ng-show="ts.edition">Edition</dt>
          <dd>{{ts.edition}}</dd>
          <dt ng-show="ts.isbn">ISBN</dt>
          <dd>{{ts.isbn}}</dd>
          <dt ng-show="ts.series">Series</dt>
          <dd>{{ts.series}}</dd>
          <dd><a href="{{ts.details_url}}" target="_blank">View in catalog</a></dd>
        </dl>
      </div>
      <a ng-show="moreList" ng-click="moreList = !moreList"><i class="fa fa-minus-circle"></i> Close</a>
    </div>
  </div>
</div>
<img ng-src="{{tracking_url}}" width="1" height="1" />
