The teacher set update is missing at least one of these required fields:<br>
<br>
<p>Bib Number: <%= @bnumber %></p>
<p>Title: <%= @title %></p>
<p>Physical Description: <%= @physical_description %></p>
