<!-- Footer -->
<footer class='footer' role="contentinfo">
  <div class='top affiliates'>
    <%= link_to image_tag('nypl.png', :border => 0, alt: "New York Public Library"), "http://nypl.org", :target => "_blank" %>
    <%= link_to image_tag('brooklyn_public_library.png', :only_path => true, :border => 0, alt: "Brooklyn Public Library"), "http://www.brooklynpubliclibrary.org", :target => "_blank" %>
    <%= link_to image_tag('queens_public_library_v2.png', :border => 0, alt: "Queens Public Library"), "http://www.queenslibrary.org", :target => "_blank" %>
    <%= link_to image_tag('doe.png', :border => 0, alt: "NYC Department of Education"), "http://schools.nyc.gov", :target => "_blank" %>
  </div>
</footer>
