$nypl-breakpoint-small: 320px;
$nypl-breakpoint-medium: 600px;
$nypl-breakpoint-mid-medium: 780px;
$nypl-breakpoint-mid-large: 860px;
$nypl-breakpoint-large: 960px;
$nypl-breakpoint-xlarge: 1280px;
$nypl-breakpoint-xxlarge: 1600px;


:root {
  --nypl-breakpoint-small: 320px;
  --nypl-breakpoint-medium: 600px;
  --nypl-breakpoint-large: 960px;
  --nypl-breakpoint-xl: 1280px;
}

.navMenu-wrapper {
  display: inline-block;
  position: inherit;

  @include min-screen(769px) {
    display: none;
  }
}


.mobileHeader {
  @include min-screen(769px) {
    display: none;
  }
}


/*.breadcrumbs {
  text-decoration: none;
  background-color: #B9292F !important;
  height: 36px;
  padding-left: 47px
}*/


.app-header {
  height: 104px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #FFFFFF;
  @include max-screen(769px) {
    display: none;
  }
}


.mln-home-page-logo {
  height: 40px;
  width: 167px;
  border-radius: 0px;
  float: left;
  padding: 12px 130px !important;

  @include max-screen(769px) {
    padding: 0px !important
  }
}

.homeLogo {
  @include max-screen(769px) {
    height: 32px;
    margin-top: 15px;
    margin-left: 10px;
  }
}


.navMenuList {
  display: inline-block;
  position: inherit;

  @include max-screen(768px) {
    display: none;
  }
}


.header-mobile-navMenu {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 4px;
  line-height: normal;
  @include max-screen(768px) {
    display: none;
  }
}

.header-mobile-navMenu-wrapper {
  /*box-shadow: 0 6px 4px rgb(100 100 100 / 40%);*/
  line-height: normal;
  margin-top: -2.5px;
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: #FFF;
  @include max-screen(768px) {
    display: none;
  }
}

.header-mobile-wrapper.active {
  left: 0;
  /*box-shadow: 0 6px 4px hsl(0deg 0% 39% / 40%);*/
  line-height: normal;
  margin-top: -2.5px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}


.header-mobile-navMenu-list {
  display: none;
  background-color: #2B2B2B;
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
  vertical-align: middle;
}

.navMenu {
  position: relative;
  display: block;
}

#navMenu-List {
  display: block;
  line-height: 40px !important;
  margin-left: 10px;
}

.navMenu-List {
  list-style-type: square !important;
}

.testClass {
  width: 6.5px !important;
  height: 7px !important;
}

.navMenu-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: #121212;
}

.mobileHeader-menuButton.active{
  /*background-color: #D23B42 !important;*/
}

.menu-list {
  cursor: pointer;
  display: block;
  position: relative;
}

.nav-menu-link {
  cursor: pointer !important;
  padding: 0 20px !important;
}

.menu-list .nav-menu-link:after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  display: block;
  border-bottom: 1px dotted #000;
}

.icon-div {
  display: block;
  position: relative;
  background: #FFF;
  width: 100%;
  top:266px;
}

.icon-shuttle {
  position: absolute;
  left: 67.5%;
  background: #D23B42;
}


.header-globalAlerts {
  width: 100%;
  left: 2106px;
  border-radius: 0px;
  background: #FEE968;
  margin: 0 auto;
  width: 100%;
  padding: 15px 0px;
  color: rgb(51, 51, 51);
}


.header-globalAlerts-box {
  position: relative !important;
  margin: .5em 1.2em .5em 1.2em !important;
  text-align: center;
}


.header-globalAlerts-box-item {
  font-size: 16px !important;
  margin: .5em 0 !important;
  line-height: 1.2em !important;
}


.header-globalAlerts-box-item p {
  display: block;
  line-height: 1.2em;
  font-family: system-ui, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.28px;
  color: #000000;
  max-width: 100% !important;
  @include max-screen(769px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: system-ui, sans-serif;
  }

}

.header-globalAlerts-box-item p a {

  @include max-screen(769px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: system-ui, sans-serif;
  }

}

.header-globalAlerts-box-item * {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header {
  
  /* Global rules for repetitive link elements */
  a {
    text-decoration: none;
  }

  // Accessibility outline rule
  a,
   button,
   input {
    &:focus {
      // @include button-focus;
      // outline: $focus-color solid 3px;
    }
  }

  &-wrapper {
    position: relative;
  }

  &-topWrapper {
    display: none;

    @include min-screen($nypl-breakpoint-medium) {
      display: block;
      max-width: 1312px;
     /* margin: 0px 20px;*/
      min-height: 4em;
      //margin-top: 2em !important;
    }

    @include min-screen($breakpoint-xl) {
      margin: 0px auto;
    }

    @include min-screen($breakpoint-large) {
      margin: 0px auto;
    }
  }



  /* DESKTOP LOGO
   * ------------
   * Defined width for desktop.
   * position adjustments left.
  */
  &-logo {
    overflow: hidden;
    @include min-screen(769px) {
      display: block;
      margin: 0;
    }

    @include min-screen(1025px) {
      max-width: 14em;
      position: relative;
      top: 40px;
    }

    @include min-screen(1024px) {
      max-width: 14em;
      top: 40px;
    }

  }

}

.mln-logo {
  margin-top: 10px;
}


.header-buttons {
  @include min-screen(1025px) {
    right: 20px;
  }

  @include min-screen(769px) {
    position: inherit !important;
    top: 8px !important;
    display: block !important;
    margin-top: -13px;
    margin-right: 20px;
  }
}

.header-buttons ul li {
  display: inline-block;
  margin-right: 0.18em;
}

.header-buttons>a, .header-buttons li>a {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 0px 10px 0 25px;
}

.search-bar {

  width: 620px !important;
  flex-flow: row nowrap !important;

  @include min-screen($breakpoint-medium) {
    width: 400px !important;    
    flex-flow: row nowrap !important;
  }

  @include min-screen($breakpoint-small) {
    width: 100% !important;
  }


  @include min-screen(374px) {
    flex-direction: row;
    width: 100% !important;
  }

  @include min-screen($breakpoint-large) {
    flex-direction: row;
    width: 640px !important;
  }

  @include min-screen(768px) {
    flex-direction: row;
    width: 640px !important;
  }

  @include min-screen($breakpoint-xl) {
    flex-direction: row;
    width: 640px !important;
  }
}

.hero--campaign .hero__content {
  background: #F5F5F5 !important;
  color: #000000 !important;
}

.have_questions_section {
  display: none;
  @include min-screen(769px) {
     float: right;
     display: block;
  }
}

.have_questions_section2 {
  @include min-screen(280px) {
    display: block !important;
    padding-top: 25px;
  }
}

.calendarButton {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include min-screen($breakpoint-small) {
    flex-direction: column;
    width: 100%;
  }

  @include min-screen(280px) {
    flex-direction: column;
    width: 100%;
  }

  @include min-screen($breakpoint-medium) {
    flex-direction: row;
  }

  @include min-screen($breakpoint-large) {
    flex-direction: row;
    width: 100%;
  }

}

.calendarButton .calendar_link {
  text-decoration: none !important;
  color: #FFFFFF !important;
}

.calendarButton .calendar_button {
  margin: 7px 32px 7px 0px;

  // @include min-screen($breakpoint-medium) {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  //   width: 60%;
  // }
}

.newsLetter {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
}

.newsLetterHeader {
  font-family: system-ui, sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: normal;
  @include min-screen(279px) {
    font-size: 18px !important;
    line-height: 21px !important;
    text-align: left !important;
  }

  @include min-screen($breakpoint-large) {
    font-size: 20px !important;
    line-height: 23px !important;
    text-align: center !important;
  }
}

.newsLetterBox {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-top: 64px;

  /*@include min-screen(279px) {
    padding: 20px !important;
  }

  @include min-screen($breakpoint-large) {
    padding: 55px !important;
  }*/
}

.NewsLetterHeaderStyles {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  padding-bottom: 20px;
  @include min-screen(769px) {
    width: 700px;
  }
}

.text_center {
  text-align: center;
}

.mobileSubmenu {
  color: var(--nypl-colors-ui-white) !important;
  text-decoration: none !important;
  margin-left: 16px;
}

.mobileHorizontalRule {
  height: 0.5px !important;
  background: var(--nypl-colors-ui-gray-dark) !important;
  margin-top: 8px !important;
}

.mobileList {
  color: var(--nypl-colors-ui-gray-dark) !important;
}


#mln-navbar {
  margin-top: 16px;
  margin-bottom: 8px;
  @include max-screen($nypl-breakpoint-mid-large) {
    display: none;
  }
}

#mln-mobile-header-topWrapper {
   @include min-screen($nypl-breakpoint-mid-large) {
    display: none;
   }
}

#mln-mobile-header-logo {
  @include max-screen(890px) {
   // max-width: 130px;
  }
}

@media screen and (max-width: $nypl-breakpoint-mid-large) {

  .nav-links-none {
    display: none;
  }

  .nav-links-mobile {
    background-color: rgb(43, 43, 43);
    color: var(--nypl-colors-ui-white);
    left: 0px;
    min-height: 250px;
    position: absolute;
    white-space: initial;
    width: 100%;
    z-index: 99999;
  }
}

@media screen and (max-width: 545px) {
  .teacher-set-skeleton-loader {
    width: 500px !important;
  }
  .teacher-set-details-skeleton-loader {
    width: 500px !important;
  }
}

@media screen and (max-width: $nypl-breakpoint-large) {
  .teacher-set-skeleton-loader {
    width: 600px !important;
  }
  .teacher-set-details-skeleton-loader {
    width: 600px !important;
  }
}

@media screen and (max-width: $nypl-breakpoint-medium) {
  .teacher-set-skeleton-loader {
    width: 450px !important;
  }

  .teacher-set-details-skeleton-loader {
    width: 450px !important;
  }

  .bookImageTop {
    margin-top: var(--nypl-space-xs);
  }
}

@media screen and (max-width: 285px) {
  .teacher-set-skeleton-loader {
    width: 225px !important;
  }

  .teacher-set-details-skeleton-loader {
    width: 225px !important;
  }
}

@media screen and (max-width: 415px) {
  .teacher-set-skeleton-loader {
    width: 285px !important;
  }

  .teacher-set-details-skeleton-loader {
    width: 285px !important;
  }
}

.mobile-submenu-close-btn {
  background-color: var(--nypl-colors-ui-gray-xx-dark) !important;
  border: 0px !important;
}

.mobile-navmenu-hamburger {
  gap: var(--nypl-space-xxs) !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  background-color: rgb(43, 43, 43) !important;
  border: var(--nypl-borders-none) !important;
  border-radius: 0px !important;
  padding: 1px 6px !important;
}

.border-none {
  border: none !important;
  background: none !important;
}

.mobileNavbarButton {
  border: none !important;
  min-height: 46px !important;
  min-width: 46px !important;
}

.mobileNavbarLinks {
  display: flex;
  width: 44px !important;
  height: 44px !important;
  align-items: center;
  justify-content: center;
}
.hamBurger {
  background-color: none !important;
}