$nypl-breakpoint-small: 320px;
$nypl-breakpoint-medium: 600px;
$nypl-breakpoint-mid-medium: 780px;
$nypl-breakpoint-mid-large: 860px;
$nypl-breakpoint-large: 960px;
$nypl-breakpoint-xlarge: 1280px;
$nypl-breakpoint-xxlarge: 1600px;

