@import "@nypl/design-system-react-components/dist/styles.css";
@import './mobile_header.scss';
@import './teacher_set.scss';
@import './teacher_set.scss';
@import './utils/viewports.scss';

:root {
  --breakpoint-small: 320px;
  --breakpoint-medium: 600px;
  --submenu-width: 245px;
}

$breakpoint-small: 320px;
$breakpoint-medium: 600px;
$submenu-width: 245px;

.participating_schools_list {
  padding: 15px;
}

.answers p {
  padding: 18px 0px 1px 0px;
  margin: 0px;
  font-size: medium;
  color: #404040;
}

.plusminus {
  float: right;
  font-size: xx-large;
  font-weight: 200;
}

.school_inbox { 
  box-sizing: border-box; 
  height:2em; 
  padding:.5em !important;
  width: 19em !important;
  background: #FFF !important;
  @media all and (min-width: 400px) {
    width: 12em;
  }
 }

 .info-site-index-button {
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 12px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  background: #333;
  max-width: 212px;
}

.redfamily {
  color: red; 
}
.school_inbox, .close-icon, .search-wrapper {
  position: relative;
  padding: 10px;
}
.search-wrapper {
 /* width: 16rem;*/
}
.school_inbox {
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 3px;
}
.school_inbox:focus {
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  margin-left: -28px;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 21n  px;
 /* background-color: #CCC;*/
  z-index:1;
  left: 17rem;
  bottom: 35px;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: #000000;
  font-weight: normal;
  font-size: 15px;
 /* box-shadow: 0 0 2px #000000;*/
  cursor: pointer;
  @media only screen and (max-width:280px) {
    margin-top: -44px;
    margin-left: 210px;
  }

  @media only screen and (max-width:320px) {
    margin-top: -44px;
    margin-left: 210px;
  }
}
.school_inbox:not(:valid) ~ .close-icon {
  display: none;
}

.nl_check_box {
  height:15px !important;
  width: 15px !important;
 }

 .nl_check_box_text {
   padding-left: 5px;
 }


.pin_password{
  margin-top: 10px;
}


.contacts {
  float: left;
}

.faqs {
  float: left;
}

.participating_schools_link {
  float: left;
}


.header-navMenu-list {
  font-family: sans-serif;
  display: inline-block;
  padding: 0;
  line-height: 24px;
  letter-spacing: 0.28px;
  margin: 15px 16px 0px 10px;
  float: left;
}

.navMenuFont {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.28px;
  text-align: left;
  color: #000000;
}


.app-navigation {
  width: 100%;
}

.app-alert {
  height: 113px;
  width: 100%;
  left: 2106px;
  border-radius: 0px;
  background: #FEE968;
  margin: 0 auto;
}

.app-alert-message {
  padding: 35px 0px 26px 0px;
  margin: 0 auto !important;
  height: 52px;
  width: 893px;
}

.app-alert-message-font {
  font-family: system-ui, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.28px;
  color: #000000;
  width: 893px;
  height: 52px;
}

.nav-link-colors {
  color: var(--nypl-colors-ui-black) !important;
  text-decoration: none !important;
  font-weight: 500;
}

.dark.nav-link-colors {
  color: var(--nypl-colors-dark-ui-typography-heading) !important;
}

.nav-links {
  margin-left: 1.2em;
}

.colorModeIcon {
  color: var(--nypl-colors-ui-black) !important;
  margin-top: 6px !important;
  cursor: pointer;
}

.dark.colorModeIcon {
  color: var(--nypl-colors-dark-ui-typography-heading) !important;
  margin-top: 6px !important;
  cursor: pointer;
}

.appFooter {
  height: 165px;
  width: 1425px;
  left: -83px;
  top: 1688px;
  border-radius: 0px;
  text-align: center;
}

.sign_in {
  height: 19px;
  width: 49px;
  left: 118px;
  top: 5px;
  border-radius: nullpx;
}

.teacher_sets_link {
  height: 19px;
  width: 148px;
  left: 192px;
  top: 5px;
  border-radius: nullpx;
}

.contacts {
  height: 19px;
  width: 65px;
  left: 365px;
  top: 5px;
  border-radius: nullpx;
}

.faqs {
  height: 19px;
  width: 38px;
  left: 455px;
  top: 5px;
  border-radius: nullpx;
}

.participating_schools {
  left: 518px;
  top: 5px;
  border-radius: nullpx;
}


.mainContent {
  width: 100%;
  border-radius: 0px;
  margin: 0 auto;
}

.navMenuList {
  padding: 3px 130px;
}

.participating_schools_list {
  padding: 15px 0px !important;
}

.bold {
  font-weight: bold;
}

.large {
  font-size: xx-large;
}


.bold {
  font-weight: bold;
}

.schoolList {
  padding-top: 30px
}

.contacts_page {
  padding: 25px 0px;
}

.faq_page {
  padding: 25px 0px;
}

.contacts_page_text {
  font-family: system-ui, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.5px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.contact_email_text {
  font-family: system-ui, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.5px;
  color: #000000;
}

.contact_email {
  font-family: system-ui, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  text-decoration-line: underline;
}

.display_none {
  overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    transition: height 300ms 400ms, opacity 400ms 0ms;
}

.display_block {
  height: auto; opacity: 1;
  transition: height 400ms 0ms, opacity 600ms 0ms;
}


.slide-up, .slide-down {
  overflow:hidden;
}
.slide-up > div, .slide-down > div {
  transform: translateY(-100%);
  transition: .4s ease-in-out;
}
.slide-down > div {            
  transform: translateY(0);
}

.submenu {
  height: 0;
  overflow: hidden;
}

.collapsed::after {
  content: "+";
  float: right;
  font-size: xx-large;
  font-weight: 200;
  transition: height 300ms;

}

.expanded::after {
  content: "—";
  float: right;
  font-size: large;
  font-weight: 200;
  transition: height 300ms;
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}


.react-slidedown {
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.faq-data {
  text-align: left;
  border-collapse: collapse;
  padding: 24px 15px;
  width: 853px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
}

.faq-question {
  font-family: system-ui, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27.5px;
  align-items: center;
  color: #000000;
  padding-left: 10px;
}

.faq-answer {
  font-family: system-ui, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 18px 10px;
}

.alphabet_anchor {
  color: var(--nypl-colors-ui-black);
}

h1 {
  text-transform: capitalize !important;
}

ul.list li:before {
  color: #FFF !important;
}

.hero_campaigh_height {
  margin-top: 320px
}

.align_left {
  align: left;
}

.have_questions {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  margin-top: 20px;
}

.float-left {
  float: left;
}

.lowercase {
  text-transform: lowercase;
}

.float-right {
  float: right;
}

.have_questions_links {
  font-weight: 300;  
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  letter-spacing: -0.4099999964237213px;
  text-align: left;
  margin-top: 7px;
}

.home_page_left {
  margin-left: 0.5rem;
}


.search_teacher_sets .search-bar {
  padding-top: 20px;
}

.HorizontalLine {
  margin-top: 45px;
}

.plain_text {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.alignment {
  /*padding: 0px 42px;*/
}

.home_page_padding {
  margin-top: -30px;
}

.background_black_color {
  background: #000000 !important;
}

.calendar_button {
  height: 36px;
/*  width: 165px;*/
  border-radius: 2px;
  margin: 7px 32px 7px 0px;
}

.calendar_button .calendar_link {
  text-decoration: none !important;
  color: #FFFFFF !important;
}

.href_link {
  text-decoration: none !important;
}

.access_digital_resources {
  height: 50px;
  font-family: system-ui, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 27.5px;
  color: #000000;
}


.medium_font {
  font-family: system-ui, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.5px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.faq_list {
  padding: 25px 0px;
}

.teacher-set-search-box {
  padding-top: 30px;
}

.teacherSetResults {
  padding-left: 5%;
}

.teacherSetHorizontal {
  background-color: #D23B42 !important;
  height: 3px !important;
}

.dark.teacherSetHorizontal {
  background-color: var(--nypl-colors-dark-brand-primary) !important;
  height: 3px !important;
}

.cardImage {
  width: 56px;
  height: 40px;
}

.card.card--horizontal.card--center {
  align-items: flex-start !important;
}

.card.card--horizontal .card__image--small {
  flex: 0 0 75px !important;
}

.card_details {
  margin-top: 20px;   
}

.italic {
  font-style: italic !important;
}

.bookImage {
/*  flex-direction: row;
*/  display: flex;
  flex-wrap: wrap
}

.signInButton {
  width: 25%;
}

.orderDetails {
  border-top: 0px !important;
  padding-top: 0px !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-300 {
  font-weight: 300;
}

.main-content {
  padding-top: 30px;
}

.cancel-header {
  font-size: 24px;
  font-weight: 500;
  line-height: 27.6px;
  font-style: normal;
}

.cancel-button-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.cancel-button {
  margin-top: 1.25em;
}

.navbarPages {
  padding: 20px;
}

.signinEmailText {
  display: flex;
}

.font_size_12 {
  font-size: 12px;
}

.order_select {
  width: 250px;
}

.selectOrder {
  flex-direction: row;
}

.signInEmail {
  margin-top: 1em;
}

.signInEmailAlert {
  margin-top: 0.5em !important;
  background-color: #F5F5F5 !important;
}

.sign-up-link {
  margin-top: 0.8em;
  font-weight: 400;
}

.order_page_title {
  font-weight: 400 !important;
  font-size: 18px !important;
  padding-top: 10px !important;
}

.order_message {
  font-weight: 500 !important;
  font-size: 20px !important;
}

.order_page_desc {
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 17.6px;
}

.tsOrderDetails {
  margin-top: 1.5em !important;
}

.orderPage {
  padding-left: 10px !important;
}

.bookTitlesCount {
  font-weight: 400;
}

.appTermsConditions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hrefBlackColor {
  color: var(--nypl-colors-ui-black) !important;
  text-decoration: underline;
}

.dark.hrefBlackColor {
  color: var(--nypl-colors-dark-ui-typography-heading) !important;
  text-decoration: underline;
}

.footerImage {
  margin: 0 5px;
}

.teachersetSearchBar {
  width: 640px !important;
}

.accountButton {
  width: 250px
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.signUpMessage {
  margin: 0px 0px 10px 0px !important;
}

.bookPageImage {
  height: auto;
}

.bookPageTSBorder {
  border: 1px solid #D8D8D8;
  padding: 15px;
}

.listType {
  border-bottom: 0px solid !important;
}

.whiteColor {
  color: #FFFFFF !important;
}

.orderStatusMessage {
  display: flex;
}

.accountCancelOrder {
  margin-left: 10px;
}

.accountNotificationMsg {
  margin: 0 !important;
}

.accocuntOrderPagination {
  justify-content: center;
}

.nav__submenu {
  display: block;
}

.nav__menu-item:hover {
  .nav__submenu {
    display: block;
  }
}

  
.nav__menu-item {
  display: inline-block;
  position: relative;

  &:hover {
    background-color: #FFFFFF;
    .nav__submenu {
      display: block;
    }
  }
}

.dark.nav__menu-item {
  display: inline-block;
  position: relative;

  &:hover {
    background-color: var(--nypl-colors-dark-ui-bg-default);
    .dark.nav__submenu {
      display: block;
      background-color: var(--nypl-colors-dark-ui-bg-default);
    }
  }
}

.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  min-width: $submenu-width;
  background: #FFFFFF;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.dark.nav__submenu {
  background-color: var(--nypl-colors-dark-ui-bg-default);
  font-weight: 300;
  text-transform: none;
  position: absolute;
  min-width: $submenu-width;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.subMenuColor {
  text-decoration: none !important;
}

.account_details {
  left: -115px;
  min-width: 240px;
}

.signin_details {
  left: -152px;
}
    
.nav__submenu-item {
  margin-bottom: 16px;
  margin-top: 16px !important;
  padding-right: 20px;
  &:hover {
    background: hsba(0, 0%, 0%, 0.25);
    /*text-decoration: underline;*/
  }
}

.dark.nav__submenu-item {
  color: var(--nypl-colors-dark-ui-typography-heading);
  margin-bottom: 16px;
  margin-top: 16px !important;
  padding-right: 20px;
  &:hover {
    background: hsba(0, 0%, 0%, 0.25);
    /*text-decoration: underline;*/
  }
}

.signin_nav_button {
  width: 100% !important;
  background-color: var(--nypl-colors-ui-black) !important;
}

.dark.signin_nav_button {
  color: var(--nypl-colors-dark-ui-typography-heading) !important;
}

.signinNavArrow {
  margin-bottom: 3px;
}

.teacher_set_pagination {
  justify-content: center;
}

.bannerMessage {
  width: 100%;
  border-radius: 0px !important;
  margin: 0 auto !important;
  color:  var(--nypl-colors-ui-black);
}

.backToTopIcon {
  padding-right: 2px;
}

.tsDetailUrl {
  padding-top: 15px;
}

.navBarIcon {
  margin-right: 8px;
  margin-left: 5px;
}

.navBarDropDown {
  align-items: center;
  display: flex;
  color: #000000 !important;
}

.navBarSignIn {
  align-items: center;
  color: #000000 !important;
}

.dark.navBarSignIn {
  align-items: center;
  color: var(--nypl-colors-dark-ui-typography-heading) !important;
}

.dark.navBarDropDown {
  color: var(--nypl-colors-dark-ui-typography-heading) !important;
}

.tsDetailHorizontalLine {
  background-color: #D23B42 !important;
  height: 1px;
}

.dark.tsDetailHorizontalLine {
  background-color: var(--nypl-colors-dark-brand-primary) !important;
  height: 1px;
}

.header-logo {
  color: var(--nypl-colors-brand-primary);
  background-color: var(--nypl-colors-brand-primary);
}

.libraryCards {
  @include min-screen($breakpoint-medium) {
    tbody tr th {
      width: 255px
    }

    thead tr th {
      display: none;
    }

  }
}

.dark.contactInfo {
  @include max-screen($breakpoint-medium) {
    
    tbody th {
      background-color: var(--nypl-colors-ui-black) !important;
    }
  }
}

.contactInfo {
  font-size: 16px;

    tbody tr th p {
      font-weight: var(--nypl-fontWeights-bold);
    }

    tbody tr td a {
      font-weight: var(--nypl-fontWeights-light);
    }

  @include max-screen($breakpoint-medium) {

    tbody tr td span:first-child {
      display: none;
    }

    tbody th {
      background-color: var(--nypl-colors-ui-white) !important;
    }

   
    tbody tr th span p {
      padding-top: 0px;
      margin-bottom: -25px;
    }

    tbody tr td span a {
      font-weight: var(--nypl-fontWeights-light);
      padding-top: 0px;
    }

    tbody tr th span:first-child {
      display: none;
    }

    tr {
      border-bottom: 0px solid !important;
    }


    tbody tr td span {
     margin-top: -10px;
    }

  }
  

  @include min-screen($breakpoint-medium) {

    tbody tr th {
      width: 310px;
    }

    thead tr th {
      display: none;
    }
  }
}

.cancelOrderButton {
  text-decoration: none !important;
  color: var(--nypl-colors-ui-black) !important;
}

.dark.cancelOrderButton {
  text-decoration: none !important;
  color: var(--nypl-colors-dark-ui-typography-heading) !important;
}

.cancelOrderDate {
  display: "none";
}

.visitOurText {
  margin-bottom: 0px;
}

.accountPageCancelOrder {
  text-decoration: none !important;
  color: var(--nypl-colors-ui-white) !important;
}

.accountPageTeacherSetOrder {
  text-decoration: none !important;
  color: var(--nypl-colors-ui-black) !important;
}

.dark.accountPageTeacherSetOrder {
  text-decoration: none !important;
  color: var(--nypl-colors-dark-ui-typography-heading) !important;
}

.maxContent {
  width: max-content;
}

.backToTop {
  @include max-screen($breakpoint-medium) {
    width: -webkit-fit-content;
  }
}

.helpEmailLink {
  color: var(--nypl-colors-ui-link-secondary) !important;
}

.footer {
  margin-top: var(--nypl-space-l) !important;
}

.textDecorationNone {
  text-decoration: none !important;
}

.hrefLink {
  a {
    text-decoration: underline;
  }
}

.dark.hrefLink {
  a {
    color: var(--nypl-colors-dark-ui-link-primary) !important;
  }
}

.paginationHR {
  margin-top: -10px !important;
}

.selectSortOrder {
  display: flex !important;
}

.doeEmailAddress {
  margin-bottom: 0px;
}

.backToTopButton {
  margin-left: -20px !important;
  text-decoration: underline !important;
  font-size: 16px !important;
}

.tsFacetsBorderColor {
  border: none;
}

.dark.tsFacetsBorderColor {
  @include min-screen($breakpoint-medium) {
    border: 1px solid #E9E9E9;
  }

  @include max-screen($breakpoint-small) {
    border: none;
  }
}

#mln-navbar-list {
  align-items: center;
  margin-bottom: 0px;
}

.desktopMlnLogo {
  display: block !important;
}

.mobileBrightnessIcon {
  margin-right: -4px !important;
  cursor: pointer;
}

.mobileDarkModeIcon {
  margin-right: -12px !important;
  margin-top: 1px !important;
  cursor: pointer;
}

.accoutDetailstablecolor {
  color: var(--nypl-colors-ui-black);
  background-color: var(--nypl-colors-ui-black);
}

.dark.accoutDetailstablecolor {
  color: var(--nypl-colors-dark-ui-typography-heading);
  background-color: var(--nypl-colors-ui-black);
}

.signin-button {  
  @include max-screen(500px) {
    width: 100%;
  }
}