<a href="<%= edit_admin_teacher_set_path(teacher_set) %>" style="padding:16px 30px; position:relative; top:-7px;">
  <span style="position:relative; top:2px;">Edit Teacher Set</span>
</a>
<style>
  /* This will hide the default edit button which is not as tall as the button to make available/unavailable (due to checkbox icon). */
  .action_item:nth-of-type(1) {
    display:none;
  }
</style>
