<div role="main">
  <div class="participating_schools">Participating Schools</div><br>
    <div class="school_header">Does your school participate in MyLibraryNYC?</div><br>
    <div>Find your school using the following links:</div>
    <div>
      <a href="##">#</a> <a href="#A">A</a> <a href="#B">B</a> <a href="#C">C</a> <a href="#D">D</a> <a href="#E">E</a> <a href="#F">F</a> <a href="#G">G</a> <a href="#H">H</a> <a href="#I">I</a> <a href="#J">J</a> <a href="#K">K</a> <a href="#L">L</a> <a href="#M">M</a> <a href="#N">N</a> <a href="#O">O</a> <a href="#P">P</a> <a href="#Q">Q</a> <a href="#R">R</a> <a href="#S">S</a> <a href="#T">T</a> <a href="#U">U</a> <a href="#V">V</a> <a href="#W">W</a> <a href="#X">X</a> <a href="#Y">Y</a> <a href="#Z">Z</a> <br><br>
    </div>
    <div>or type the name of your school in the box below</div>
   <div class="search-wrapper">
    <form>
      <input id="search_participating_school" type="text" placeholder="Search school" name="focus" required class="school_inbox" />
      <button class="close-icon" type="reset"></button>
    </form>
  </div>
    <div id="schools_not_found" class = "schools_not_found"></div></br>
    <div id="participating_schools_id">
      <% @schools_arr.each do |s| %>
      <div id="participating_schools_id_1">
        <% if s["school_names"].present?%>
          <a name=<%= s["alphabet_anchor"] %>></a><%= s["alphabet_anchor"] %>
        <% end %>
        <% s["school_names"].each do |i|  %>
           <span style="display: block;"><%= i %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  if ($("#search_participating_school").val() == ""){
    $("#schools_not_found").hide();
  }
</script>

<style type="text/css">
body {
  background-color: #f1f1f1;
  font-family: Helvetica,Arial,Verdana;

}
h1 {
  color: green;
  text-align: center;
}
.redfamily {
  color: red; 
}
.school_inbox,.close-icon,.search-wrapper {
  position: relative;
  padding: 10px;
}
.search-wrapper {
  width: 16rem;
}
.school_inbox {
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 3px;
}
.school_inbox:focus {
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #CCC;
  z-index:1;
  left: 17rem;
  bottom: 35px;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #000000;
  cursor: pointer;
}
.school_inbox:not(:valid) ~ .close-icon {
  display: none;
}

.school_inbox:not(:valid) ~ .schools_not_found {
  display: none;
}
</style>