#main_content {
    .text.input {
      a {
        margin-left: 15px;
        text-transform:capitalize;
      }
  
      textarea.message {
        font-size:1.5em;
        line-height:1.2em;
      }
    }
  }
  
  #title_bar {
    h2 {
      line-height:1.1em;
    }
  }
  
  .has_many.books {
    .img-holder {
      width:100px;
      min-height:50px;
      text-align:right;
      vertical-align:top;
      display:inline-block;
  
      img {
        min-height:40px;
        max-height:80px;
        border:solid gray 1px;
        margin-right:20px;
        margin-bottom:10px;
      }
    }
  
    fieldset.re-search {
      .radio {
        -display:none;
      }
    }
  }
  
  
  body.active_admin.logged_out {
    
    background-image: url(/assets/mylibrarynyc-logo-white-mini.png);
    background-position: center 50px;
    background-repeat: no-repeat;
    background-color:#818283;
  
    div#content_wrapper {
      margin-top:120px;
    }
  
    div h2 {
      padding-left:200px;
      content: "Admin Login";
    }
  
    form input[type="submit"] {
      background: -moz-linear-gradient(-90deg, #E05359, #Ad1720) repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
  
    div.flash {
      color:#ddd;
      text-shadow: 0 1px 0 #202020;
    }
  }
  
  form fieldset ol > li label {
    width: 16% !important;
    display: table-row-group;
  }
  
  body.active_admin {
    #hold_change_cancel_action {
      margin-right: 10px;
      border-radius: 200px;
      display: inline-block;
      font-weight: bold;
      font-size: 1.0em;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 12px;
      margin-right: 3px;
      padding: 7px 16px 6px;
      text-decoration: none;
      background-color: #838a90;
      background-image: linear-gradient(180deg, #838a90, #414549);
      text-shadow: #000 0 1px 0;
      border: solid 1px #484e53;
      border-color: #484e53;
      border-top-color: #616a71;
      border-right-color: #484e53;
      border-bottom-color: #363b3f;
      border-left-color: #484e53;
      color: #efefef;
      a, a:link {
        color: #fff !important;
        text-decoration: none !important;
      }
    }
  }
  