/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./vendor/normalize
 *= require ./vendor/ng-quick-date
 *= require ./vendor/ng-quick-date-default-theme
 *= require ./vendor/jquery-ui
 *= require ./vendor/jquery.swipeshow
 *= require font-awesome
 *= require scaffolds
 *= require home
 *= require teacher_sets
 *= require books
 *= require signup
 *= require errors
 *= require shared
 */
#participating_schools_id p {
  margin-left: 3rem;
  margin-bottom: inherit;
}

#participating_schools_id a {
  margin-left: 3rem;
  margin-bottom: inherit;
}