#error-page {
  text-align: center;
  margin: 150px 0px 250px 0px;
}

#error-page-details {
  background: #F9F9F9;
  margin: 30px;
  padding: 30px;
}

.sentence-case-header {
  font-size: 2em;
  font-weight: bold;
}
