@import "vendor/css3-mixins";
@import "variables";
@import "mixins";
@import "keyframes";

#home-gallery {
  width: 100%;
  height: 300px;
  @include stretch();
}
.home-index #home-gallery {
  margin-top: -$navHeight + 30;
}
.slide {
  background: $grayDark;
  color: $white;
  overflow: hidden;
}
.slide-caption {
  text-align: center;
  margin: 12px 40px 0;
  .step {
    background: $white;
    color: $grayDark;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    @include border-radius(10px);
  }
  @media (max-width: $reallySmallBreakpoint) {
    font-size: 0.8em;
  }
}
.dots {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  @media (max-width: $reallySmallBreakpoint) {
    display: none;
  }
}
.dot-item {
  background: $white;
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 5px;
  outline: none;
  @include border-radius(10px);
  &.active {
    background: lighten($red, 20%);
  }
  &:hover {
    background: $grayLightest;
  }
}
.slide-assets {
  position: relative;
  width: 300px;
  height: 230px;
  margin: 0 auto;
  > img,
  > div {
    position: absolute;
  }
}
#step1 {
  .teacher {
    left: 0;
    bottom: 0;
  }
  .students1 {
    left: 84px;
    bottom: 0;
  }
  .students2 {
    left: 84+98px;
    bottom: 0;
  }
  .email-input {
    left: 84px;
    top: 60px;
    border: 5px solid $white;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 1.1em;
    text-align: center;
    i {
      color: $grayDark;
      font-style: normal;
    }
  }
  &.active {
    .teacher {
      @include animation(from-bottom 0.8s);
    }
    .students1 {
      @include animation(from-bottom 1s);
    }
    .students2 {
      @include animation(from-bottom 1.2s);
    }
    .email-input {
      i {
        color: $white;
        @include transition(color, 0.1s);
        @include transition-delay(0s);
      }
      i:first-child {
        @include transition-delay(0s);
      }
      i:nth-child(2) {
        @include transition-delay(0.2s);
      }
      i:nth-child(3) {
        @include transition-delay(0.4s);
      }
      i:nth-child(4) {
        @include transition-delay(0.6s);
      }
      i:nth-child(5) {
        @include transition-delay(0.8s);
      }
      i:nth-child(6) {
        @include transition-delay(1s);
      }
      i:nth-child(7) {
        @include transition-delay(1.2s);
      }
      i:nth-child(8) {
        @include transition-delay(1.4s);
      }
      i:nth-child(9) {
        @include transition-delay(1.6s);
      }
    }
  }
}
#step2 {
  .teacher {
    left: 0;
    bottom: 0;
  }
  .students1 {
    left: 84px;
    bottom: 0;
  }
  .students2 {
    left: 84+98px;
    bottom: 0;
  }
  .books {
    @include opacity(0.2);
  }
  .books1 {
    left: 0;
    bottom: 0;
  }
  .books2 {
    left: 0;
    bottom: 90px;
  }
  .books3 {
    left: 100px;
    bottom: 0;
  }
  .books4 {
    left: 100px;
    bottom: 90px;
  }
  .books5 {
    left: 200px;
    bottom: 0;
  }
  .books6 {
    left: 200px;
    bottom: 90px;
  }
  &.active {
    .books1 {
      @include animation(from-top 0.6s);
    }
    .books2 {
      @include animation(from-top 0.8s);
    }
    .books3 {
      @include animation(from-top 1s);
    }
    .books4 {
      @include animation(from-top 1.2s);
    }
    .books5 {
      @include animation(from-top 1.3s);
    }
    .books6 {
      @include animation(from-top 1.4s);
    }
  }
}
#step3 {
  .school {
    left: 0;
    top: 0;
    @include opacity(0.2);
  }
  .truck {
    right: 0;
    bottom: 20px;
  }
  &.active {
    .truck {
      @include animation(from-left-pause 6s infinite);
    }
  }
}

.homepage-banner {
  width: 100%;
  height: 300px;
  background: url(homepage-banner.jpg) center no-repeat;
  background-size: 800px 300px;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40,40,40,0.7);
  }
  img,
  .button-overlay {
    position: absolute;
    width: 400px;
    height: 134px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -67px;
    @include transform(scale(0.8,0.8));
    @include transition(all, 0.5s);
  }
  .button-overlay {
    height: 46px;
    margin-top: -23px;
    .button {
      background: lighten($red, 5%);
      @include box-shadow();
      @include transition(background, 0.5s);
      &:hover {
        background: lighten($red, 10%);
      }
    }
  }
  @media (max-width: $reallySmallBreakpoint) {
    img,
    .button-overlay {
      width: 300px;
      height: 100px;
      height: auto;
      margin-left: -150px;
      margin-top: -50px;
    }
    .button-overlay {
      height: 46px;
      margin-top: -23px;
    }
  }
}
.active {
  .homepage-banner {
    @include animation(banner-zoom-start 2s);
    img,
    .button-overlay {
      @include transform(scale(1,1));
    }
  }
}

.call-to-action {
  background: $red;
  padding: $basePadding $basePadding*2;
  margin-bottom: $basePadding;
  @include stretch();
  .button {
    background: rgba(0,0,0,0.25);
    &:hover {
      background: rgba(0,0,0,0.2);
    }
  }
  @media (max-width: $reallySmallBreakpoint) {
    font-size: 0.8em;
  }
}

.learn-more-btn {
  margin-top: 30px;
}

footer {
  a img {
    max-height: 80px;
    max-width: 180px;
  }
}

.participating_schools { font-size: xx-large; font-weight: bold; }

.school_header {font-size: large; font-weight: bold;}

.school_inbox { box-sizing:border-box; height:2em; padding:.5em; width: 19em; }

.page-content { margin: 2rem; padding: 1rem; }

#schools_not_found { margin: 1em 0; }

#participating_schools_id p { margin-bottom: -20px; }

#participating_schools_id_1 { margin: 1em 0; }

#schools_not_found { margin: 1em 0; }