@import "vendor/css3-mixins";
@import "mixins";
@import "variables";

@include keyframes(banner-zoom-start) {
  0% {
    background-size: 900px 338px;
  }
  60% {
    background-size: 900px 338px;
  }
  100% {
    background-size: 800px 300px;
  } 
}

@include keyframes(fade-in) {
  0% { 
    @include opacity(0);
  }  
  100% { 
    @include opacity(1);
  }
}

@include keyframes(fade-in-down) {
  0% {
    @include opacity(0);
    @include transform(translateY(-20px));
  }

  100% {
    @include opacity(1);
    @include transform(translateY(0));
  }
}

@include keyframes(fade-in-left){
  0% {
    @include opacity(0);
    @include transform(translateX(-20px));
  }

  100% {
    @include opacity(1);
    @include transform(translateX(0));
  }
}

@include keyframes(fade-in-out-alert) {
  0% {
    max-height: 0px;
    padding: 0;
  }
  10% {
    max-height: 200px;
    padding: $componentPadding 0;
  }
  90% {
    max-height: 200px;
    padding: $componentPadding 0;
  }
  100% {
    max-height: 0px;
    padding: 0;
  } 
}

@include keyframes(from-bottom) {
  0% { 
    @include transform( translateY(300px) );
  }  
  100% { 
    @include transform( translateY(0) );
  }
}

@include keyframes(from-left-pause) {
  0% { 
    @include transform( translateX(-600px) );
  }  
  30%, 70% { 
    @include transform( translateY(0) );
  }
  100% {
    @include transform( translateX(600px) );
  } 
}

@include keyframes(from-top) {
  0% { 
    @include transform( translateY(-300px) );
  }  
  100% { 
    @include transform( translateY(0) );
  }
}

@include keyframes(img-zoom-start) {
  0% {
    @include transform(scale(0.8,0.8));
  }
  60% {
    @include transform(scale(0.8,0.8));
  }
  100% {
    @include transform(scale(1,1));
  }  
}

@include keyframes(stretchdelay) {
  0%, 40%, 100% { 
    @include transform( scaleY(0.4) );
    background-color: $grayLightest;
  }  
  20% { 
    @include transform( scaleY(1.0) );
    background-color: $grayLighter;
  }
}