#timeout-warning {
  background: #fff7a5;
  display: none;
  padding: 8px;
  position: fixed;
  text-align: center;
  top: 50px;
  width: 100%;
}

#extend-session-link {
  cursor: pointer;
  color: #0171A1;
  text-decoration: underline;
}

.maintenance-banner-color {
  background: #fff7a5;
  padding-bottom:15px;
  padding-top:15px;
  text-align: center;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
