#timeout-warning {
  background: #fff7a5;
  display: none;
  padding: 8px;
  position: fixed;
  text-align: center;
  top: 50px;
  width: 100%;
}

#extend-session-link {
  cursor: pointer;
  color: #0171A1;
  text-decoration: underline;
}

.maintenance-banner-color {
  background: #fff7a5;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  
  @media all and (max-width: 590px) {
    padding: 1rem 0em 1em 0em;
  }
  @media not all and (min-width: 440px) {
    padding: 1rem 0em 1em 0em;
  }

  @media not all and (min-width: 435px) {
    padding: 1rem 0em 1em 0em;
  }

  @media not all and (min-width: 400px) {
    padding: 1rem 0em 0em 0em;
  }

  @media not all and (min-width: 410px) {
    padding: 1rem 0em 1em 0em;
  }

  @media not all and (min-width: 355px) {
    padding: 1rem 1em 1em 0em;
  }

  @media not all and (min-width: 280px) {
    padding: 1rem 0em 0em 0em;
  }

  @media not all and (min-width: 160px) {
    padding: 1rem 0em 0em 0em;
  }
}

.alphabet_anchor { 
  padding-top: 75px; 
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

#participating_schools_id p { margin-bottom: -20px; }

#participating_schools_id_1 { margin: 1em 0; margin-bottom: 2em;}

#schools_not_found { margin: 0em; color: #c4262d; }

.participating_schools { font-size: xx-large; font-weight: bold; }

.school_header {font-size: large; font-weight: bold;}

.school_inbox { box-sizing:border-box; height:2em; padding:.5em; width: 19em; }

.page-content { margin: 2rem; padding: 1rem; }

.sets_requested { display: none; }

@media all and (max-width: 801px) {
  .sets_requested { display: inline-block; }
  .holds_quantity { display: none; }
}

.nl_message {
  padding-bottom: 20px;
  padding-top: 3px;
  font-size: 16px;
  text-align: left;
  margin-left: 14.2%;

  @media not all and (min-width: 542px) {
    margin-left: 13.2%;
    font-size: 13px;
  }

  @media not all and (min-width: 440px) {
    margin-left: 14.2%;
    font-size: 13px;
  }

  @media not all and (min-width: 435px) {
    margin-left: 9.2%;
    font-size: 13px;
  }

  @media not all and (min-width: 400px) {
    margin-left: 14.2%;
    font-size: 13px;
  }

  @media not all and (min-width: 410px) {
    margin-left: 8.2%;
    font-size: 13px;
  }

  @media not all and (min-width: 355px) {
    margin-left: 24.2%;
    font-size: 12px;
  }

  @media not all and (min-width: 280px) {
   margin-left: 24.2%;
   font-size: 12px;
  }

  @media not all and (min-width: 160px) {
    margin-left: 24.2%;
    font-size: 12px;
  }
}

.news_letter_desc {
  margin-left: 51px;
  margin-bottom: -10px;
  color: #7d7872;
  @media not all and (min-width: 542px) {
    margin-left: 13.2%;
    font-size: 12px;
  }

  @media not all and (min-width: 440px) {
    margin-left: 14.2%;
    font-size: 12px;
  }

  @media not all and (min-width: 435px) {
    margin-left: 4.2%;
    font-size: 13px;
  }

  @media not all and (min-width: 400px) {
    margin-left: 14.2%;
    font-size: 12px;
  }

  @media not all and (min-width: 410px) {
    margin-left: 4.2%;
    font-size: 12px;
  }

  @media not all and (min-width: 355px) {
    margin-left: 24.2%;
    font-size: 12px;
  }

  @media not all and (min-width: 280px) {
   margin-left: 24.2%;
   font-size: 12px;
  }

  @media not all and (min-width: 160px) {
    margin-left: 24.2%;
    font-size: 12px;
  }
}

.news_letter_email {
  padding: 12px 15px !important;
  text-align: center;
  width: 100% !important;
  outline: none;
  font-size: 12px;
  border: 0px !important;
  border-radius: 3px;
  background: #e8e4e2 !important;
}

.news_letter_form {
  margin-top: 15px;
}

.mktoForm {width: auto !important; width: 100%; text-align: -webkit-center; text-align: -moz-center}
.mktoFormRow {margin: 15px 0px 0px 20px; display: inline-block; width: 55%;}
.mktoOffset {display:none}
.mktoButtonRow {
  display: inline-block; 
  position: relative; 
  margin: 0px 0px 0px -2px;
}

.mktoForm {
  #email{
    border-radius: 4px !important;
    padding: 10px 8px !important;
    background-color: #EEEEED !important;
    text-indent: 0px;
    width: 99% !important;
    background: #EEEEED;
    border: 1px solid #575047;
    color: #303030;

    @media not all and (min-width: 440px) {
      font-size: 12px;
      margin-bottom: 10px;
    }

    @media not all and (min-width: 282px) {
     font-size: 10px;
    }
  }
}

.news_letter_confirmation_email {
  background-color: #CCC;
  margin: 20px; 
  text-align: left;
  padding: 25px;

  hr {
    display: block;
    height: 1px !important;
    border: 0 !important;
    border-top: 12px solid #ccc !important;
    margin: 1em 0 !important;
    padding: 0 !important;
    width: 130% !important;
  }
}

.user_confirmation_email {
  background-color: #CCC;
  margin: 20px; 
  text-align: left;
  padding: 25px;
}

.nl-subscribe-button {
  display: block;
  margin: 0 auto;
  padding: 12px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background: #AF2228;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  width: 115px !important;
  @media not all and (min-width: 440px) {
    font-size: 12px;
  }
}

.nl-conf-msg {
  margin-top: 25px;
}

.nl-conf-size {
  font-size: 20px;
}

.news-letter-form {
  max-width: 610px;
}

