#timeout-warning {
  background: #fff7a5;
  display: none;
  padding: 8px;
  position: fixed;
  text-align: center;
  top: 50px;
  width: 100%;
}

#extend-session-link {
  cursor: pointer;
  color: #0171A1;
  text-decoration: underline;
}

.maintenance-banner-color {
  background: #fff7a5;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  
  @media all and (max-width: 590px) {
    padding: 1rem 0em 1em 0em;
  }
  @media not all and (min-width: 440px) {
    padding: 1rem 0em 1em 0em;
  }

  @media not all and (min-width: 435px) {
    padding: 1rem 0em 1em 0em;
  }

  @media not all and (min-width: 400px) {
    padding: 1rem 0em 0em 0em;
  }

  @media not all and (min-width: 410px) {
    padding: 1rem 0em 1em 0em;
  }

  @media not all and (min-width: 355px) {
    padding: 1rem 1em 1em 0em;
  }

  @media not all and (min-width: 280px) {
    padding: 1rem 0em 0em 0em;
  }

  @media not all and (min-width: 160px) {
    padding: 1rem 0em 0em 0em;
  }
}

.alphabet_anchor { 
  padding-top: 75px; 
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

#participating_schools_id p { margin-bottom: -20px; }

#participating_schools_id_1 { margin: 1em 0; margin-bottom: 2em;}

#schools_not_found { margin: 0em; color: #c4262d; }

.participating_schools { font-size: xx-large; font-weight: bold; }

.school_header {font-size: large; font-weight: bold;}

.school_inbox { box-sizing:border-box; height:2em; padding:.5em; width: 19em; }

.page-content { margin: 2rem; padding: 1rem; }

.sets_requested { display: none; }

@media all and (max-width: 801px) {
  .sets_requested { display: inline-block; }
  .holds_quantity { display: none; }
}

.nl_message {
  padding-left: 69px;
  padding-bottom: 20px;
  font-size: 13px;
  text-align: left
}

.news_letter_desc {
  margin-left: 18px;
  margin-bottom: -10px;
  color: #ff9900;
}

.news_letter_email {
  padding: 12px 15px !important;
  text-align: center;
  width: 100% !important;
  outline: none;
  font-size: 12px;
  border: 0px !important;
  border-radius: 3px;
  background: #e8e4e2 !important;
}

.news_letter_subs_button {
  padding: 12px 45px !important;
  background-color: #3385ff;
  color: #FFF;
  border: 1px;
  border-radius: 3px;
}

.news_letter_form{
  margin-top: 60px;
}

.mktoForm {width: auto !important; width: 100%; text-align: -webkit-center}
.mktoFormRow {margin: 15px 0px 0px 20px; display: inline-block; width: 55%;}
.mktoOffset {display:none}
.mktoButtonRow {display: inline-block; position: relative; width:25%; margin: 0px 0px 0px -4px;}

.news_letter_confirmation_email {
  background-color: #CCC;
  margin: 20px; 
  text-align: left;
  padding: 25px;
}
