@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  display: inline-block;
  animation: spinner .6s linear infinite;
}

input[type="text"], input[type="alt_email"], input[type="email"], input[type="password"], textarea, select {
  background: #EEEEED;
  border: 1px solid #575047;
  color:#303030;
}

#check_email_div{
  display:none;
}

#sign_up_button{
  background-color:grey;
}

#no-js-message{
  padding-top:20px;
  color:red;
}

#no-js-message{
  padding-top:20px;
  color:red;
}
