<div class="mktoForm">
  <%= form_tag '/news_letter/index', method: 'get', remote: true  do %>
    <div class="news_letter_form">
      <div class="news_letter_desc bold"> Submit your email to sign up for the MyLibraryNYC newsletter: </div>
      <div class="mktoFormRow"><input onkeyup="hideNewsLetterValidation(this.value)" id="news_letter_email" class="news_letter_email" type="text" name="email" placeholder="Enter your email address" /></div>
      <div class="mktoButtonRow"><input class="news_letter_subs_button" type="submit" value="Subscribe" onclick="return validateNewsLetterEmail($('#news_letter_email').val());"/>
      </diiv>
    </div>
      <div class="nl_message" id="nl_message" style="display: none;"></div>  
  <% end %>
</div>
