<div class="mktoForm">
  <%= form_tag '/news_letter/index', :onsubmit => "validateNewsLetterEmail(event)", :method => :get, :remote => true, :class => 'news-letter-form' do %>
    <div class="news_letter_form">
      <div class="news_letter_desc bold"> Submit your email to sign up for the MyLibraryNYC newsletter: </div>
      <div class="mktoFormRow">
        <%= email_field_tag('email', "", placeholder: "Enter your email address", onkeyup: "hideNewsLetterValidation(this.value)") %>
      </div>
      <div class="mktoButtonRow">
        <input id="submit" name="submit" type="submit" value="Subscribe" class="nl-subscribe-button" />
      </diiv>
    </div>
    <div class="nl_message" id="nl_message" style="display: none;"></div>
 <% end %>
</div>
