<% unless @hide_breadcrumbs %>
  <div id="breadcrumb">
    <% unless params["host"] == ENV['MLN_INFO_SITE_HOSTNAME'] && params["controller"] == "info_site" && params["action"] == "index" %>
      <%= link_to "Home", "/app#/teacher_sets" %> <i class="fa fa-angle-right"></i>
    <% end %>
    <% case request.fullpath %>
    <% when "/account", "/users/edit" %>
      Account
    <% when "/help" %>
      Help
    <% when "/faq" %>
      FAQs
    <% when "/users/start" %>
      Get Started
    <% when "/users/signup", "/users" %>
      Sign Up
    <% when "/teacher_sets/#{params[:id]}/teacher_set_holds" %>
      Teacher Set Holds
    <% when "/" %>
      
    <% end %>
    <% if params["controller"] == "schools" && params["action"] == "index" %>
      Participating schools
    <% end %>
  </div>
<% end %>
