<footer>
  <div class='top affiliates'>
    <%= link_to image_tag('nypl.png', :border => 0, alt: "New York Public Library"), "http://nypl.org", :target => "_blank" %>
    <%= link_to image_tag('brooklyn_public_library.png', :only_path => true, :border => 0, alt: "Brooklyn Public Library"), "http://www.brooklynpubliclibrary.org", :target => "_blank" %>
    <%= link_to image_tag('queens_public_library.png', :border => 0, alt: "Queens Public Library"), "http://www.queenslibrary.org", :target => "_blank" %>
    <%= link_to image_tag('doe.png', :border => 0, alt: "NYC Department of Education"), "http://schools.nyc.gov", :target => "_blank" %>
  </div>
  <a href="http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions" target="_blank">Terms</a>
  &nbsp;|&nbsp;
  <a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy" target="_blank">Privacy Policy</a>
</footer>
