<!-- Header -->
<header>
  <nav class="nav--global cf" role="navigation">
    <div class="wrapper--nav--global">
      <!-- Logo -->
      <div class="site-logo" role="banner">
        <%= link_to image_tag("mylibrarynyc-logo-white-mini.png", border: 0), "//#{ENV['MLN_INFO_SITE_HOSTNAME']}:3000/" %>
      </div>
      <%= render "layouts/navigation" %>
    </div>
  </nav>
</header>