<% flash.each_with_index do |(name, msg), i| %>
  <div id="alert-<%=i%>" data-alert class="alert main-alert <%= (name == :registration_error ? 'fade-in-out-longer' : 'fade-in-out') %> <%= name %>">
    <%= msg %>
  </div>
<% end %>
